<template>
  <div class="achievementItem" @mouseenter="showDes = true" @mouseleave="showDes = false">
    <div class="achievementItem__description" v-if="showDes">
      <div class="achievementItem__description__image">
        <img :src="item.picture" alt="">
      </div>
      <div class="achievementItem__description__info">
        <div class="achievementItem__description__info__header">
          <div class="achievementItem__description__info__header__title">{{item.name}}</div>
          <div class="achievementItem__description__info__header__points">Очки: <span>{{item.points}}</span></div>
        </div>
        <div class="achievementItem__description__info__item">
          <div class="achievementItem__description__info__item__title">Статус:  <span v-if="item.status === 'closed'">Получено</span>
            <span v-if="item.status === 'available'">Не получено</span>
            <span v-if="item.status === 'await'">В обработке</span></div>
        </div>
        <div class="achievementItem__description__info__item">
          <div class="achievementItem__description__info__item__title">Условие: <span>{{item.description}}</span></div>
        </div>
      </div>
    </div>
    <div class="achievementItem__image" :class="{achievementItem__image__white: item.status === 'closed'}">
      <img :src="item.picture" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: 'AchievementItem',
  data () {
    return {
      showDes: false
    }
  },
  props: ['item', 'color']
}
</script>

<style scoped lang="scss">
  .achievementItem {
    position: relative;
    margin: 20px 20px 0 0;
    width: 83px;
    height: 83px;
    &__image {
      width: 83px;
      height: 83px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 3px solid #1291B6;
      cursor: pointer;
      overflow: hidden;
      > img {
        width: 50px;
        opacity: 0.3;
      }
      &__white {
        > img {
          opacity: 1;
        }
      }
     }
    &__description {
      width: 300px;
      position: absolute;
      padding: 10px;
      background-color: #ffffff;
      top: -83px;
      right: -166px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      display: flex;
      color: #000000;
      z-index: 10;
      &__image {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        > img {
          width: 100%;
        }
      }
      &__info {
        width: calc(100% - 32px);
        flex-wrap: wrap;
        display: flex;
        &__header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 8px 0 10px;
          &__title {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            color: #000000;
          }
          &__points {
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            font-weight: bold;
            color: #000000;
            > span {
              font-weight: normal;
            }
          }
        }
        &__item {
          width: 100%;
          display: flex;
          &__title {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            margin: 0 8px 0 10px;
            > span {
              font-size: 12px;
              line-height: 16px;
              font-weight: normal;
              word-break: break-word;
            }
          }
        }
      }
    }
  }
</style>
