<template>
  <div class="characteristics__item">
    <div class="characteristics__item__header" @click="showInfo = !showInfo">
      <div class="characteristics__item__header__info">
        {{review.surname + ' ' + review.first_name + ' ' + review.parent_name}}
      </div>
      <div class="characteristics__item__header__arrow" :class="{characteristics__item__header__arrow__active: showInfo}">
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.00001 2.00275e-06L7.00001 5L12 1.12852e-06L14 1L7.00001 8L1.27395e-05 1L2.00001 2.00275e-06Z" fill="#1291B6"/>
        </svg>
      </div>
    </div>
    <div class="characteristics__item__info" v-if="showInfo">
      <div class="characteristics__item__info__title">Сколько лет курирует</div>
      <div class="characteristics__item__info__description"></div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="years">
      </div>
      <div class="characteristics__item__info__title">Тип куратора</div>
      <div class="characteristics__item__info__description">Информатор, организатор, психотерапевт, опекун, приятель, наблюдатель, администратор, партнер, - и примеры ситуаций, на основании которых он был определен</div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="curator_type">
      </div>
      <div class="characteristics__item__info__title">Качество проведения кураторских часов</div>
      <div class="characteristics__item__info__description">На основании личного присутствия, бесед, обратной связи первокурсников и самих кураторов</div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="quality">
      </div>
      <div class="characteristics__item__info__title">Посещаемость собраний, отчетность</div>
      <div class="characteristics__item__info__description">Причины пропусков собраний, если они есть, частота реагирования на памятки, посты и прочее</div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="attendance">
      </div>
      <div class="characteristics__item__info__title">Взаимодействие с первокурсниками</div>
      <div class="characteristics__item__info__description">Какие проблемы возникали в процессе работы и как они решались</div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="cooperation">
      </div>
      <div class="characteristics__item__info__title">Неформальные встречи с группой</div>
      <div class="characteristics__item__info__description">Количество и качество</div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="informal">
      </div>
      <div class="characteristics__item__info__title">Общее поведение и соблюдение кодекса кураторов</div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="codex">
      </div>
      <div class="characteristics__item__info__title">Личный настрой куратора и впечатления от проделанной работы</div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="personal_attitude">
      </div>
      <div class="characteristics__item__info__title">Итоговый комментарий</div>
      <div class="characteristics__item__info__input">
        <input :disabled="reviewed" type="text" v-model="summary">
      </div>
      <div class="characteristics__item__info__title">Итоговая оценка</div>
      <div class="characteristics__item__info__input characteristics__item__info__input__slider" style="margin: 30px 0 20px">
        <q-slider v-model="points" :min="0" :max="10" markers label-always />
      </div>
      <div class="characteristics__item__info__button" v-if="!reviewed">
        <button @click="send()">Отправить характеристику</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'CharacteristicItem',
  data () {
    return {
      showInfo: false,
      years: '',
      curator_type: '',
      quality: '',
      attendance: '',
      cooperation: '',
      informal: '',
      codex: '',
      personal_attitude: '',
      summary: '',
      points: 0,
      reviewed: false
    }
  },
  methods: {
    ...mapActions({
      sendReview: 'control/sendReview',
      loadFeedback: 'control/loadFeedback'
    }),
    send () {
      this.sendReview({
        id: this.review.id,
        showInfo: this.showInfo,
        years: this.years,
        curator_type: this.curator_type,
        quality: this.quality,
        attendance: this.attendance,
        cooperation: this.cooperation,
        informal: this.informal,
        codex: this.codex,
        personal_attitude: this.personal_attitude,
        summary: this.summary,
        points: this.points
      })
        .then(() => {
          this.$q.notify({
            message: 'Характеристика отправлена!',
            color: 'primary'
          })
          this.loadFeedback({ id: this.review.id })
            .then(response => {
              this.years = response.data.years
              this.curator_type = response.data.curator_type
              this.quality = response.data.quality
              this.attendance = response.data.attendance
              this.cooperation = response.data.cooperation
              this.informal = response.data.informal
              this.codex = response.data.codex
              this.personal_attitude = response.data.personal_attitude
              this.summary = response.data.summary
              this.points = response.data.points
              this.reviewed = response.data.reviewed
            })
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла ошибка! Попробуйле позже',
            color: 'negative'
          })
        })
    }
  },
  mounted () {
    this.loadFeedback({ id: this.review.id })
      .then(response => {
        this.years = response.data.years
        this.curator_type = response.data.curator_type
        this.quality = response.data.quality
        this.attendance = response.data.attendance
        this.cooperation = response.data.cooperation
        this.informal = response.data.informal
        this.codex = response.data.codex
        this.personal_attitude = response.data.personal_attitude
        this.summary = response.data.summary
        this.points = response.data.points
        this.reviewed = response.data.reviewed
      })
  },
  props: ['review']
}
</script>

<style scoped lang="scss">
  .characteristics {
    &__item {
      width: 51%;
      padding: 20px 20px;
      background: #FFFFFF;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 0 10px;
      &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &__info {
          font-weight: 500;
          font-size: 19px;
          line-height: 22px;
          color: #000000;
        }
        &__arrow {
          display: flex;
          &__active {
            > svg {
              transform: rotate(180deg);
              transition: 0.2s;
            }
          }
        }
      }
      &__info {
        margin: 18px 0 0;
        width: 100%;
        &__title {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #000000;
        }
        &__description {
          width: 90%;
          font-weight: 300;
          font-size: 12px;
          line-height: 24px;
          color: #000000;
        }
        &__input {
          margin: 10px 0 20px;
          > input {
            width: 90%;
            border: 1px solid rgba(0, 0, 0, 0.54);
            box-sizing: border-box;
            border-radius: 10px;
            font-size: 16px;
            padding: 8px 8px;
            outline: none;
          }
          &__slider {
            width: 90%;
          }
        }
        &__button {
          > button {
            background-color: $primary;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.75px;
            cursor: pointer;
            outline: none;
            border-radius: 10px;
            color: $primary !important;
            border: 1px solid #1291B6 !important;
            padding: 7px 35px !important;
            background: none !important;
            background-color: $primary;
          }
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    .characteristics {
      &__item {
        width: 100%;
      }
    }
  }
</style>
