<template>
  <div class="review__item">
    <div class="review__item__header" @click="showInfo = !showInfo">
      <div class="review__item__header__info">
        {{curator.seance.group + ': ' + curator.curator.surname + ' ' + curator.curator.first_name + ' ' + curator.curator.parent_name}}
      </div>
      <div class="review__item__header__arrow" :class="{review__item__header__arrow__active: showInfo}">
        Дата заполнения: {{curator.created_at.split('T')[0] | date}}
        <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.00001 2.00275e-06L7.00001 5L12 1.12852e-06L14 1L7.00001 8L1.27395e-05 1L2.00001 2.00275e-06Z" fill="#1291B6"/>
        </svg>
      </div>
    </div>
    <div class="review__item__info" v-if="showInfo">
      <div class="review__item__info__block">
        <div class="review__item__info__block__title">Как прошел кураторский час?</div>
        <div class="review__item__info__block__description">{{curator.how}}</div>
        <div class="review__item__info__block__title">Возникли ли проблемы?</div>
        <div class="review__item__info__block__description">{{curator.problems}}</div>
        <div class="review__item__info__block__title">Какие остались впечатления?</div>
        <div class="review__item__info__block__description">{{curator.what}}</div>
        <div class="review__item__info__block__title">Посещаемость: <span>{{curator.count}} человек</span></div>
        <div class="review__item__info__block__description"></div>
      </div>
      <div class="review__item__info__block" v-for="feedback in feedbacks" :key="feedback.id">
        <div class="review__item__info__block__title">Отзыв: {{feedback.student.surname + ' ' + feedback.student.first_name + ' ' + feedback.student.parent_name}} - {{feedback.points}}</div>
        <div class="review__item__info__block__description">{{feedback.text}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import moment from 'moment'
export default {
  name: 'ReviewItem',
  data () {
    return {
      showInfo: false,
      feedbacks: []
    }
  },
  methods: {
    ...mapActions({
      eventFeedback: 'control/eventFeedback'
    }),
    moment () {
      return moment
    }
  },
  mounted () {
    this.eventFeedback({ id: this.curator.seance.id })
      .then(response => {
        this.feedbacks = response.data
      })
  },
  filters: {
    date: function (date) {
      return moment(date, 'MM/DD/YYYY').format('DD.MM.YYYY')
    }
  },
  props: ['curator']
}
</script>

<style scoped lang="scss">
  .review {
    &__item {
      width: 100%;
      padding: 6px 10px;
      background: #FFFFFF;
      border: 1px solid #CCCCCC;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 0 10px;
      &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        cursor: pointer;
        &__info {
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          color: #1291B6;
          width: calc(100% - 250px);
        }
        &__arrow {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 16px;
          line-height: 22px;
          color: #DCDCDC;
          width: 250px;
          > svg {
            margin: 0 0 0 12px;
          }
          &__active {
            > svg {
              transform: rotate(180deg);
              transition: 0.2s;
            }
          }
        }
      }
      &__info {
        margin: 18px 0 0;
        width: 100%;
        &__block {
          &__title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            > span {
              font-style: italic;
              font-size: 16px;
              line-height: 22px;
              color: #707375;
            }
          }
          &__description {
            font-style: italic;
            font-size: 16px;
            line-height: 22px;
            color: #707375;
            margin: 8px 0 30px;
          }
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 600px)  {
    .review {
      &__item {
        &__header {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          cursor: pointer;
          &__info {
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
            color: #1291B6;
            width: 100%;
          }
          &__arrow {
            margin: 10px 0 0;
          }
        }
      }
    }
  }
</style>
