<template>
  <div class="container events">
    <div class="events__tabs">
      <router-link :to="{ name: 'events.future' }" class="events__tabs__tab">Будущие</router-link>
      <router-link :to="{ name: 'events.past' }" class="events__tabs__tab">Прошедшие</router-link>
    </div>
    <div class="events__block">
      <div class="events__block__item" v-for="event in events" :key="event.id" @click="$router.push({ name: 'events.future.item', params: { id: event.id }})">
        <div class="events__block__item__title">{{event.name}}</div>
        <div class="events__block__item__time">
          <div class="events__block__item__time__title">Сроки проведения</div>
          <div class="events__block__item__time__info">{{event.time}}</div>
        </div>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Events',
  data () {
    return {
      tab: 'future',
      events: [
        { name: 'Последний кураторский час', time: '10.12.2020 - 22.12.2020', id: 1 },
        { name: 'Последний кураторский час', time: '10.12.2020 - 22.12.2020', id: 2 }
      ]
    }
  },
  methods: {
    ...mapActions({
      loadFutureEvents: 'events/loadFutureEvents'
    })
  },
  beforeMount () {
    this.loadFutureEvents()
  },
  computed: {
    ...mapGetters({
      future_events: 'events/future_events'
    })
  }
}
</script>

<style scoped lang="scss">
  .events {
    &__tabs {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &__tab {
        cursor: pointer;
        background-color: #FFFFFF;
        border-radius: 16px 16px 0px 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        padding: 12px 18px;
        position: relative;
      }
    }
    &__block {
      &__item {
        cursor: pointer;
        width: 550px;
        margin: 20px 0;
        background: #FFFFFF;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 18px 20px;
        &__title {
          font-weight: 500;
          font-size: 19px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.87);
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 45%;
        }
        &__time {
          &__title {
            font-size: 14px;
            line-height: 28px;
            color: #DCDCDC;
          }
          &__info {
            font-weight: 500;
            font-size: 19px;
            line-height: 28px;
            color: rgba(0, 0, 0, 0.87);
          }
        }
      }
    }
  }
  .router-link-active{
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #1291B6;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

</style>
