<template>
  <div class="event">
    <div class="events__tabs">
      <div class="events__tabs__tab" :class="{ active__tab: tab === 'memo' }" @click="tab = 'memo'">Памятка</div>
      <div class="events__tabs__tab" :class="{ active__tab: tab === 'date' }" @click="tab = 'date', date_step = 1">Дата и место</div>
      <div class="events__tabs__tab" :class="{ active__tab: tab === 'participants' }" @click="participants()">Участники</div>
    </div>
    <div class="event__block" v-if="tab === 'memo' && select_event">
      <div class="event__block__title">{{select_event.event.title}}</div>
      <div class="event__block__memo">{{select_event.helpers[0].text}}</div>
      <div class="event__block__file" v-if="select_event.helpers[0].attachment">
        <img src="../../assets/document.svg" alt=""> <a :href="'http://curator.sut.ru' + select_event.helpers[0].attachment" target="_blank">Скачать документ</a>
      </div>
    </div>
    <div class="event__block" v-if="tab === 'date' && select_event">
      <div class="event__block__title">{{select_event.event.title}}</div>
      <div class="event__block__share" v-if="showShare && showShareStep === 1">
        <div class="event__block__share__title">Добавьте вступление</div>
        <div class="event__block__share__text">
          <textarea placeholder="Внимание, совсем скоро состоится кураторский час..." v-model="shareText"></textarea>
        </div>
        <div class="event__block__share__buttons">
          <button class="event__block__buttons__white" @click="backTime()">Назад</button>
          <button class="event__block__buttons__color" @click="createShare()">Далее</button>
        </div>
      </div>
      <div class="event__block__share" v-if="showShare && showShareStep === 2">
        <div class="event__block__share__title">Итоговая новость</div>
        <div class="event__block__share__text">
          <div class="event__block__share__text__item">
            {{newText}}
          </div>
        </div>
        <div class="event__block__share__buttons">
          <button class="event__block__buttons__white" @click="showShareStep = 1">Назад</button>
          <button class="event__block__buttons__color" @click="share()">Далее</button>
        </div>
      </div>
      <div class="event__block__results" v-if="select_event.time_start && select_event.time_start !== 'None' && !showShare">
        <div class="event__block__results__item">
          <div class="event__block__results__item__title">Дата проведения</div>
          <div class="event__block__results__item__info">{{select_event.time_start.split(' ')[0].split('-').reverse().join('.')}}</div>
        </div>
        <div class="event__block__results__item">
          <div class="event__block__results__item__title">Место проведения</div>
          <div class="event__block__results__item__info" v-if="select_event.room">{{select_event.room.title}}</div>
          <div class="event__block__results__item__info" v-else>Другое</div>
        </div>
        <div class="event__block__results__item">
          <div class="event__block__results__item__title">Время начала</div>
          <div class="event__block__results__item__info">{{select_event.time_start.split(' ')[1].split(':')[0]}}:{{select_event.time_start.split(' ')[1].split(':')[1]}}</div>
        </div>
        <div class="event__block__results__item">
          <div class="event__block__results__item__title">Время конца </div>
          <div class="event__block__results__item__info">{{select_event.time_end.split(' ')[1].split(':')[0]}}:{{select_event.time_end.split(' ')[1].split(':')[1]}}</div>
        </div>
        <div class="event__block__buttons">
          <button class="event__block__buttons__white" @click="editBooking()">Редактировать</button>
          <button class="event__block__buttons__color" @click="showShare = true">Разослать уведомления</button>
        </div>
      </div>
      <div v-if="date_step === 1 && select_event.time_start === 'None' && !showShare">
        <div class="event__block__date">
          <div class="event__block__date__title">Дата проведения</div>
          <div class="event__block__date__input">
            <q-input
              outlined
              v-model="day"
              class="main__input"
              color="primary"
              mask="##.##.####"
              fill-mask
              :rules="[
            val => !!val || 'Обязательное поле',
          ]"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date v-model="day" color="primary" mask="DD.MM.YYYY" :locale="calendarLocale" :options="dateOptions"  @input="() => $refs.qDateProxy.hide()" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>
        <div class="event__block__time">
          <div class="event__block__time__block">
            <div class="event__block__date__title">Время начала</div>
            <q-input
              outlined
              v-model="start_at"
              class="main__input"
              color="primary"
              mask="##:##"
              fill-mask
              :rules="[
            val => !!val || 'Обязательное поле',
          ]"></q-input>
          </div>
          <div class="event__block__time__block">
            <div class="event__block__date__title">Время конца</div>
            <q-input
              outlined
              v-model="end_at"
              class="main__input"
              color="primary"
              mask="##:##"
              fill-mask
              :rules="[
            val => !!val || 'Обязательное поле',
          ]"></q-input>
          </div>
        </div>
        <div class="event__block__buttons">
          <button class="event__block__buttons__color" @click="secondStep()" :disabled="checkDate || checkStart || checkEnd">Заполнить</button>
        </div>
      </div>
      <div v-if="date_step === 2 && select_event.time_start === 'None' && !showShare">
        <div class="event__block__room">
          <div class="event__block__date__title">Выберите аудиторию</div>
          <div class="event__block__room__select">
            <q-select
              v-model="room"
              :options="rooms"
              :disable="other || rooms.length === 0"
              outlined
              option-label="name"
              color="primary"
            >
              <template v-slot:option="scope">
                <q-item
                  v-bind="scope.itemProps"
                  v-on="scope.itemEvents"
                >
                  <q-item-section>
                    <q-item-label v-html="scope.opt.name" />
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
            <div style="margin-top: 8px; color: red" v-if="rooms.length === 0">Нет свободных аудиторий</div>
            <q-checkbox v-model="other" label="Другое" />
          </div>
          <div class="event__block__buttons event__block__buttons__lolkek" >
            <button class="event__block__buttons__white" @click="date_step = 1">Назад</button>
            <button class="event__block__buttons__color" @click="endBooking()" :disabled="room.length === 0 && !other">Далее</button>
          </div>
        </div>
      </div>
      <div v-if="date_step === 3 && select_event.time_start === 'None' && !showShare">
        <div class="event__block__results">
          <div class="event__block__results__item">
            <div class="event__block__results__item__title">Дата проведения</div>
            <div class="event__block__results__item__info">{{day}}</div>
          </div>
          <div class="event__block__results__item">
            <div class="event__block__results__item__title">Место проведения</div>
            <div class="event__block__results__item__info" v-if="room.id">{{room.name}}</div>
            <div class="event__block__results__item__info" v-else>Другое</div>
          </div>
          <div class="event__block__results__item">
            <div class="event__block__results__item__title">Время начала</div>
            <div class="event__block__results__item__info">{{start_at}}</div>
          </div>
          <div class="event__block__results__item">
            <div class="event__block__results__item__title">Время конца </div>
            <div class="event__block__results__item__info">{{end_at}}</div>
          </div>
          <div class="event__block__buttons">
            <button class="event__block__buttons__white" @click="editBooking()">Редактировать</button>
            <button class="event__block__buttons__color" @click="showShare = true">Разослать уведомления</button>
          </div>
        </div>
      </div>
    </div>
    <div class="event__block" v-if="tab === 'participants' && select_event">
      <div class="event__block__title">Предварительная явка</div>
      <div class="event__block__participants">
        <div class="event__block__participants__header">
          <div class="event__block__participants__header__name">ФИО</div>
          <div class="event__block__participants__header__status event__block__participants__header__status__future">Статус</div>
        </div>
        <div class="event__block__participants__block">
          <div class="event__block__participants__block__item" v-for="user in attendance" :key="user.id">
            <div class="event__block__participants__block__item__name">{{user.student.surname + ' ' + user.student.first_name + ' ' + user.student.parent_name}}</div>
            <div class="event__block__participants__block__item__status">
              <input type="checkbox" @click.prevent v-model="user.would">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { date } from 'quasar'
export default {
  name: 'FutureEvents',
  data () {
    return {
      tab: 'memo',
      day: date.formatDate(Date.now(), 'DD.MM.YYYY'),
      other: false,
      start_at: '',
      end_at: '',
      date_step: 1,
      room: '',
      showShare: false,
      showShareStep: 1,
      shareText: '',
      shareId: null,
      newText: null,
      calendarLocale: {
        days: 'Воскресенье_Понедельник_Вторник_Среда_Четверг_Пятница_Суббота'.split('_'),
        daysShort: 'Вс_Пн_Вт_Ср_Чт_Пт_Сб'.split('_'),
        months: 'Январь_Февраль_Март_Апрель_Май_Июнь_Июль_Август_Сентябрь_Октсябрь_Ноябрь_Декабрь'.split('_'),
        monthsShort: 'Янв_Фев_Мар_Апр_Май_Июн_Июл_Авг_Сен_Окт_Ноя_Дек'.split('_'),
        firstDayOfWeek: 1
      }
    }
  },
  methods: {
    ...mapActions({
      eventInfo: 'events/eventInfo',
      loadEventRooms: 'events/loadEventRooms',
      reserveRoom: 'events/reserveRoom',
      clearSelectEvent: 'events/clearSelectEvent',
      cancelOrder: 'events/cancelOrder',
      loadAttendance: 'events/loadAttendance',
      askAttendance: 'events/askAttendance',
      createNews: 'events/createNews',
      shareNewNews: 'events/shareNewNews'
    }),
    backTime () {
      this.showShare = false
    },
    createShare () {
      this.createNews({ text: this.shareText })
        .then((response) => {
          this.shareId = response.data.id
          this.shareNewNews({ id: this.$route.params.id, news_id: response.data.id })
            .then((response) => {
              this.newText = response.data.text
              this.showShareStep = 2
            })
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла ошибка! Попробуйле позже',
            color: 'negative'
          })
        })
    },
    dateOptions (dates) {
      return dates >= date.formatDate(Date.now(), 'YYYY/MM/DD')
    },
    participants () {
      this.loadAttendance({ id: this.select_event.id })
        .then(() => {
          this.tab = 'participants'
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла ошибка! Попробуйле позже',
            color: 'negative'
          })
        })
    },
    secondStep () {
      if (this.day.length === 10 && this.start_at.length === 5 && this.end_at.length === 5) {
        this.loadEventRooms({ id: this.$route.params.id, start: this.day.split('.')[1] + '/' + this.day.split('.')[0] + '/' + this.day.split('.')[2] + 'T' + this.start_at, end: this.day.split('.')[1] + '/' + this.day.split('.')[0] + '/' + this.day.split('.')[2] + 'T' + this.end_at })
          .then(() => {
            this.date_step = 2
          })
          .catch(() => {
            this.$q.notify({
              message: 'Произошла ошибка! Попробуйле позже',
              color: 'negative'
            })
          })
      }
    },
    endBooking () {
      if (this.room || this.other === true) {
        this.reserveRoom({ id: this.$route.params.id, start: this.day.split('.')[1] + '/' + this.day.split('.')[0] + '/' + this.day.split('.')[2] + 'T' + this.start_at, end: this.day.split('.')[1] + '/' + this.day.split('.')[0] + '/' + this.day.split('.')[2] + 'T' + this.end_at, room_id: this.room.id })
          .then(() => {
            this.date_step = 3
          })
          .catch(() => {
            this.$q.notify({
              message: 'Произошла ошибка! Попробуйле позже',
              color: 'negative'
            })
          })
      }
    },
    editBooking () {
      this.cancelOrder({ id: this.$route.params.id })
        .then(response => {
          this.eventInfo({ id: this.$route.params.id })
          this.date_step = 1
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла ошибка! Попробуйле позже',
            color: 'negative'
          })
        })
    },
    share () {
      this.askAttendance({ id: this.$route.params.id, news_id: this.shareId })
        .then(() => {
          this.showShare = false
          this.showShareStep = 1
          this.shareText = ''
          this.shareId = null
          this.newText = null
          this.$q.notify({
            message: 'Рассылка отправлена',
            color: '#1291B6'
          })
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла ошибка! Попробуйле позже',
            color: 'negative'
          })
        })
    }
  },
  computed: {
    ...mapGetters({
      select_event: 'events/select_event',
      rooms: 'events/rooms',
      attendance: 'events/attendance'
    }),
    checkDate () {
      return this.day.split('.').join('').split('_').join('').length !== 8
    },
    checkStart () {
      return this.start_at.split(':').join('').split('_').join('').length !== 4
    },
    checkEnd () {
      return this.end_at.split(':').join('').split('_').join('').length !== 4
    }
  },
  beforeMount () {
    this.eventInfo({ id: this.$route.params.id })
  },
  beforeRouteLeave (to, from, next) {
    this.clearSelectEvent()
    next()
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.eventInfo({ id: this.$route.params.id })
  },
  watch: {
    other (oldValue, newValue) {
      if (newValue === true) {
        this.room = ''
      }
      if (newValue === false) {
        this.room = ''
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .main__input {
    font-size: 20px;
  }
  .active{
    &__tab {
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #1291B6;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

</style>
