<template>
  <div class="container events">
    <div class="events__tabs">
      <router-link :to="{ name: 'events.future' }" class="events__tabs__tab">Будущие</router-link>
      <router-link :to="{ name: 'events.past' }" class="events__tabs__tab">Прошедшие</router-link>
    </div>
    <div class="events__block">
      <div class="events__block__item" v-for="event in future_events" :key="event.id" @click="selectEvent(event)">
        <div class="events__block__item__title">{{event.event.title}}</div>
        <div class="events__block__item__time">
          <div class="events__block__item__time__title">Сроки проведения</div>
          <div class="events__block__item__time__info">{{event.event.date_start | date}} - {{event.event.date_end | date}}</div>
        </div>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'EventsFuture',
  data () {
    return {
      tab: 'future'
    }
  },
  methods: {
    ...mapActions({
      loadFutureEvents: 'events/loadFutureEvents',
      clearSelectEvent: 'events/clearSelectEvent',
      eventInfo: 'events/eventInfo'
    }),
    selectEvent (event) {
      this.eventInfo({ id: event.id })
      this.$router.push({ name: 'events.future.item', params: { id: event.id } })
    },
    moment () {
      return moment
    }
  },
  beforeMount () {
    this.loadFutureEvents()
  },
  computed: {
    ...mapGetters({
      future_events: 'events/future_events'
    })
  },
  beforeRouteLeave (to, from, next) {
    this.clearSelectEvent()
    next()
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.eventInfo({ id: this.$route.params.id })
  },
  filters: {
    date: function (date) {
      return moment(date, 'DD-MM-YYYY').format('DD.MM.YYYY')
    }
  }
}
</script>

<style scoped lang="scss">
  .router-link-active{
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #1291B6;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

</style>
