<template>
  <div class="container events">
    <div class="events__tabs">
      <router-link :to="{ name: 'events.future' }" class="events__tabs__tab">Будущие</router-link>
      <router-link :to="{ name: 'events.past' }" class="events__tabs__tab">Прошедшие</router-link>
    </div>
    <div class="events__block">
      <div class="events__block__item" v-for="event in past_events" :key="event.id" @click="pastEvent(event)">
        <div class="events__block__item__title">{{event.event.title}}</div>
        <div class="events__block__item__time">
          <div class="events__block__item__time__title">Дата проведения</div>
          <div class="events__block__item__time__info">{{event.time_end | date}}</div>
        </div>
      </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'Events',
  data () {
    return {
      tab: 'future'
    }
  },
  methods: {
    ...mapActions({
      loadPastEvents: 'events/loadPastEvents',
      clearSelectEvent: 'events/clearSelectEvent',
      eventInfo: 'events/eventInfo',
      loadAttendance: 'events/loadAttendance',
      loadFeedback: 'events/loadFeedback'
    }),
    pastEvent (event) {
      this.loadAttendance({ id: event.id })
      this.loadFeedback({ id: event.id })
      this.eventInfo({ id: event.id })
      this.$router.push({ name: 'events.past.item', params: { id: event.id } })
    }
  },
  moment () {
    return moment
  },
  beforeMount () {
    this.loadPastEvents()
  },
  computed: {
    ...mapGetters({
      past_events: 'events/past_events'
    })
  },
  beforeRouteLeave (to, from, next) {
    this.clearSelectEvent()
    next()
  },
  filters: {
    date: function (date) {
      return moment(date, 'MM/DD/YYYY').format('DD.MM.YYYY')
    }
  }
}
</script>

<style scoped lang="scss">
  .router-link-active{
    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #1291B6;
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

</style>
