<template>
  <div class="event">
    <div class="events__tabs">
      <div class="events__tabs__tab" :class="{ active__tab: tab === 'attendance' }" @click="tab = 'attendance'">Посещаемость</div>
      <div class="events__tabs__tab" :class="{ active__tab: tab === 'reviews' }" @click="tab = 'reviews'">Отзывы</div>
      <div class="events__tabs__tab" :class="{ active__tab: tab === 'feedback' }" @click="tab = 'feedback'">Обратная связь</div>
    </div>
    <div class="event__block" v-if="tab === 'attendance' && select_event">
      <div class="event__block__title">Посещаемость события</div>
      <div class="event__block__participants">
        <div class="event__block__participants__header">
          <div class="event__block__participants__header__name">ФИО</div>
          <div class="event__block__participants__header__status">Статус</div>
        </div>
        <div class="event__block__participants__block">
          <div class="event__block__participants__block__item" v-for="user in attendance" :key="user.id">
            <div class="event__block__participants__block__item__name">{{user.student.first_name + ' ' + user.student.surname + ' ' + user.student.parent_name}}</div>
            <div class="event__block__participants__block__item__status">
              <q-toggle
                @input="attend(user)"
                v-model="user.was"
                color="primary"
                keep-color
              />
            </div>
          </div>
        </div>
      </div>
      <div class="event__block__participants__button">
        <button @click="feedback()" class="event__block__buttons__white">Собрать обратную связь</button>
      </div>
    </div>
    <div class="event__block" v-if="tab === 'reviews' && select_event">
      <div class="event__block__title">Отзывы о событии</div>
      <div class="event__block__reviews">
        <div class="event__block__reviews__block" v-for="review in reviews" :key="review.id">
          <div class="event__block__reviews__block__name">{{review.student.first_name + ' ' + review.student.surname + ' ' + review.student.parent_name }}</div>
          <div class="event__block__reviews__block__info">{{review.text}} <br> <span>Очки:</span> <span>{{review.points}}</span></div>
        </div>
      </div>
    </div>
    <div class="event__block" v-if="tab === 'feedback' && select_event">
      <div class="event__block__title">Обратная связь куратора</div>
      <div class="event__block__feedback" v-if="select_event.has_review === true">Вы уже ответили на данный опрос</div>
      <div class="event__block__feedback" v-else>
        <div class="event__block__feedback__title">Как прошел кураторский час?</div>
        <textarea v-model="rate"></textarea>
        <div class="event__block__feedback__title">Возникли ли проблемы, если да, как они решились?</div>
        <textarea v-model="problems"></textarea>
        <div class="event__block__feedback__title">Какие остались впечатления?</div>
        <textarea v-model="impressions"></textarea>
      </div>
      <button class="event__block__buttons__color" v-if="select_event.has_review === false" @click="reviewEvent()" :disabled="rate.length === 0 || problems.length === 0 || impressions.length === 0">Отправить обратную связь</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'FutureEvents',
  data () {
    return {
      tab: 'attendance',
      rate: '',
      problems: '',
      impressions: ''
    }
  },
  methods: {
    ...mapActions({
      eventInfo: 'events/eventInfo',
      eventReview: 'events/eventReview',
      loadAttendance: 'events/loadAttendance',
      clearSelectEvent: 'events/clearSelectEvent',
      attendanceEdit: 'events/attendanceEdit',
      shareFeedback: 'events/shareFeedback',
      loadFeedback: 'events/loadFeedback'
    }),
    feedback () {
      this.shareFeedback({ id: this.$route.params.id })
        .then(() => {
          this.$q.notify({
            message: 'Форма обьратной связи отправлена!',
            color: 'primary'
          })
          this.loadAttendance({ id: this.select_event.id })
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла ошибка! Попробуйле позже',
            color: 'negative'
          })
        })
    },
    attend (user) {
      this.attendanceEdit({ id: this.$route.params.id, user: user.id, was: user.was, would: user.would })
        .then(() => {
          this.$q.notify({
            message: 'Статус изменен!',
            color: 'primary'
          })
          this.loadAttendance({ id: this.select_event.id })
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла ошибка! Попробуйле позже',
            color: 'negative'
          })
        })
    },
    reviewEvent () {
      if (this.rate.length > 0 && this.problems.length > 0 && this.impressions.length > 0) {
        this.eventReview({ id: this.$route.params.id, how: this.rate, problems: this.problems, what: this.impressions })
          .then(() => {
            this.$q.notify({
              message: 'Сообщение отправлено',
              color: 'primary'
            })
            setTimeout(() => { this.$router.push({ name: 'events.past' }) }, 1500)
          })
          .catch(() => {
            this.$q.notify({
              message: 'Произошла ошибка! Попробуйле позже',
              color: 'negative'
            })
          })
      }
    }
  },
  computed: {
    ...mapGetters({
      select_event: 'events/select_event',
      attendance: 'events/attendance',
      reviews: 'events/reviews'
    })
  },
  beforeMount () {
    this.loadAttendance({ id: this.$route.params.id })
    this.loadFeedback({ id: this.$route.params.id })
    this.eventInfo({ id: this.$route.params.id })
  },
  beforeRouteLeave (to, from, next) {
    this.clearSelectEvent()
    next()
  },
  beforeRouteUpdate (to, from, next) {
    next()
    this.eventInfo({ id: this.$route.params.id })
  }
}
</script>

<style scoped lang="scss">
  .main__input {
    font-size: 20px;
  }
  .active{
    &__tab {
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #1291B6;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

</style>
