// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
body {
  background-color: #F4F9FF;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.q-field__bottom {
  padding: 8px 0;
}

.main__input {
  > .q-field--outlined {
    border-radius: 16px !important;
  }
  > input {
    font-size: 30px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .container {
    width: 95%;
  }
}

.events {
  &__tabs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    &__tab {
      cursor: pointer;
      background-color: #FFFFFF;
      border-radius: 16px 16px 0 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #000000;
      padding: 12px 18px;
      position: relative;
      display: flex;
      align-items: center;
    }
  }
  &__block {
    &__item {
      cursor: pointer;
      width: 550px;
      margin: 20px 0;
      background: #FFFFFF;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      padding: 18px 20px;
      &__title {
        font-weight: 500;
        font-size: 19px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 45%;
      }
      &__time {
        &__title {
          font-size: 14px;
          line-height: 28px;
          color: #DCDCDC;
        }
        &__info {
          font-weight: 500;
          font-size: 19px;
          line-height: 28px;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }
  }
}

.event {
  &__block {
    width: 550px;
    margin: 20px 0;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.87);
    }
    &__share {
      &__title {
        font-style: italic;
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: #000000;
        margin: 34px 0 4px;
      }
      &__text {
        > textarea {
          background: #FFFFFF;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          width: 100%;
          height: 80px;
          margin: 0 0 16px;
          resize: none;
          border-color: #707375;
          padding: 12px;
          outline: none;
          &:hover {
            border-color: #000000;
          }
          &:focus {
            border-color: #1291B6;
          }
        }
        &__item {
          height: auto;
          max-height: 300px;
          overflow: auto;
          word-break: break-word;
          white-space: pre-line;
          margin: 0 0 30px;
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #1291B6;
            border-radius: 6px;
          }
        }
      }
      &__buttons {
        display: flex;
        align-content: center;
        justify-content: space-between;
      }
    }
    &__participants {
      &__header {
        margin: 35px 0 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-style: italic;
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: #000000;
        &__status {
          margin: 0 15px 0 0;
          &__future {
            margin: 0;
          }
        }
      }
      &__block {
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 16px 0;
        }
      }
    }
    &__reviews {
      margin: 30px 0 0;
      height: 300px;
      overflow: scroll;
      padding: 0 10px 0 0;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #1291B6;
        border-radius: 6px;
      }
      &__block {
        margin: 0 0 10px;
        &__name {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #000000;
        }
        &__info {
          padding: 6px 15px;
          border: 1px solid rgba(0, 0, 0, 0.54);
          box-sizing: border-box;
          border-radius: 10px;
          font-style: italic;
          font-weight: 300;
          font-size: 14px;
          line-height: 24px;
          color: #000000;
          > span {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 24px;
            &:last-child {
              margin: 0 0 0 4px;
              font-weight: normal;
              font-style: normal;
            }
          }
        }
      }
    }
    &__feedback {
      margin: 30px 0 0;
      &__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
      }
      > textarea {
        background: #FFFFFF;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 100%;
        height: 90px;
        margin: 0 0 16px;
        resize: none;
        padding: 12px;
        outline: none;
      }
    }
    &__memo {
      height: auto;
      max-height: 300px;
      overflow: scroll;
      word-break: break-word;
      white-space: pre-wrap;
      padding: 0 30px 0 0;
      margin: 20px 0 0;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #1291B6;
        border-radius: 6px;
      }
    }
    &__file {
      margin: 30px 0 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > img {
        width: 25px;
      }
      > a {
        margin: 0 0 0 15px;
        font-size: 16px;
        font-weight: 500;
        color: #1291B6;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &__date {
      margin: 35px 0 0;
      &__title {
        font-weight: 300;
        font-size: 12px;
        line-height: 24px;
        color: #000000;
        margin: 0 0 4px;
      }
    }
    &__time {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__block {
        width: 45%;
      }
    }
    &__buttons {
      width: 100%;
      margin: 15px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__color {
        background-color: $primary;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.75px;
        color: #FFFFFF;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 8px 36px;
        border-radius: 10px;
      }
      &__white {
        color: $primary !important;
        border: 1px solid #1291B6 !important;
        padding: 7px 35px !important;
        background: none !important;
        background-color: $primary;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.75px;
        cursor: pointer;
        outline: none;
        border-radius: 10px;
      }
    }
    &__room {
      margin: 35px 0 0 0;
    }
    &__results {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 16px 0 0;
      &__item {
        width: 50%;
        margin: 12px 0 0;
        &__title {
          font-style: italic;
          font-weight: 300;
          font-size: 12px;
          line-height: 24px;
          color: #000000;
          margin: 0 0 8px;
        }
        &__info {
          font-weight: bold;
          font-size: 24px;
          line-height: 24px;
          color: #000000;
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .events {
    &__tabs {
      &__tab {
        font-size: 14px;
        padding: 6px 9px;
      }
    }
    &__block {
      &__item {
        width: 100%;
        flex-wrap: wrap;
        &__title {
          width: 100%;
        }
      }
    }
  }
  .event {
    &__block {
      width: 100%;
      margin: 20px 0;
      padding: 30px;
      background: #FFFFFF;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
      }
      &__participants {
        &__header {
          margin: 35px 0 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-style: italic;
          font-weight: 300;
          font-size: 12px;
          line-height: 24px;
          color: #000000;
        }
        &__block {
          &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 16px 0;
          }
        }
      }
      &__reviews {
        margin: 30px 0 0;
        height: 300px;
        overflow: scroll;
        padding: 0 10px 0 0;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #1291B6;
          border-radius: 6px;
        }
        &__block {
          margin: 0 0 10px;
          &__name {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
          }
          &__info {
            padding: 6px 15px;
            border: 1px solid rgba(0, 0, 0, 0.54);
            box-sizing: border-box;
            border-radius: 10px;
          }
        }
      }
      &__feedback {
        margin: 30px 0 0;
        &__title {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #000000;
        }
        > textarea {
          background: #FFFFFF;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          width: 100%;
          height: 90px;
          margin: 0 0 16px;
          resize: none;
          padding: 12px;
          outline: none;
        }
      }
      &__memo {
        height: auto;
        max-height: 300px;
        overflow: scroll;
        word-break: break-word;
        white-space: pre-wrap;
        padding: 0 30px 0 0;
        margin: 20px 0 0;
        &::-webkit-scrollbar {
          width: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #1291B6;
          border-radius: 6px;
        }
      }
      &__file {
        margin: 30px 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        > img {
          width: 25px;
        }
        > a {
          margin: 0 0 0 15px;
          font-size: 16px;
          font-weight: 500;
          color: #1291B6;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__date {
        margin: 35px 0 0;
        &__title {
          font-weight: 300;
          font-size: 12px;
          line-height: 24px;
          color: #000000;
          margin: 0 0 4px;
        }
      }
      &__time {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__block {
          width: 45%;
        }
      }
      &__buttons {
        width: 100%;
        margin: 15px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        > button {
          &:last-child {
            margin: 8px 0 0;
          }
        }
      }
      &__room {
        margin: 35px 0 0 0;
      }
      &__results {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 16px 0 0;
        &__item {
          width: 50%;
          margin: 12px 0 0;
          &__title {
            font-style: italic;
            font-weight: 300;
            font-size: 12px;
            line-height: 24px;
            color: #000000;
            margin: 0 0 8px;
          }
          &__info {
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: #000000;
          }
        }
      }
    }
  }
}
