<template>
  <div class="control">
    <div class="container">
      <div class="control__title" v-if="user">{{user.supervised_faculty_full}}</div>
      <div class="control__tabs">
        <div class="control__tabs__tab" :class="{ control__tabs__tab__active: select_tab === 'feedback' }" @click="select_tab = 'feedback'">Обратная связь</div>
        <div class="control__tabs__tab" :class="{ control__tabs__tab__active: select_tab === 'characteristics' }" @click="select_tab = 'characteristics', select_review = null">Характеристики</div>
      </div>
      <div class="control__feedback" v-if="select_tab === 'feedback'">
        <div class="control__feedback__list">
          <div class="control__feedback__list__item" v-for="(review, index) in reviews" :key="index" @click="selectReview(review)">
            <div class="control__feedback__list__item__title">{{review.title}}</div>
            <div class="control__feedback__list__item__time">
              <div class="control__feedback__list__item__time__title">Сроки проведения</div>
              <div class="control__feedback__list__item__time__info">{{review.date_start | date}} - {{review.date_end | date}}</div>
            </div>
          </div>
        </div>
        <div class="control__feedback__info" v-if="select_review">
          <div class="control__feedback__info__title">{{select_review.title}}</div>
          <review-item v-for="curator in curators" :key="curator.id" :curator="curator" />
        </div>
      </div>
      <div class="control__characteristics" v-if="select_tab === 'characteristics'">
        <characteristic-item :review="review" v-for="(review, index) in curators_review" :key="index" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import CharacteristicItem from 'components/CharacteristicItem'
import ReviewItem from 'components/ReviewItem'
import moment from 'moment'

export default {
  name: 'Control',
  data () {
    return {
      select_tab: 'feedback',
      select_review: null,
      select_filter: 'ИСиТ',
      reviews: [],
      curators: [],
      curators_review: []
    }
  },
  methods: {
    ...mapActions({
      loadFaculty: 'control/loadFaculty',
      loadUser: 'profile/loadUser',
      loadEvents: 'control/loadEvents',
      selectEvents: 'control/selectEvents'
    }),
    moment () {
      return moment
    },
    selectReview (review) {
      this.select_review = review
      this.selectEvents({ id: review.id })
        .then(response => {
          this.curators = response.data
          this.select_review = review
        })
    }
  },
  computed: {
    ...mapGetters({
      user: 'profile/user'
    })
  },
  mounted () {
    this.loadUser()
      .then(() => {
        if (this.user.role !== 'Старший куратор') {
          this.$router.push({ name: 'profile' })
        }
        this.loadFaculty({ faculty: this.user.supervised_faculty })
          .then(response => {
            this.curators_review = response.data.curators
          })
      })
    this.loadEvents()
      .then(response => {
        this.reviews = response.data
      })
  },
  components: {
    CharacteristicItem,
    ReviewItem
  },
  filters: {
    date: function (date) {
      return moment(date, 'DD/MM/YYYY').format('DD.MM.YYYY')
    }
  }
}
</script>

<style scoped lang="scss">
  .control {
    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #000000;
      margin: 0 0 36px;
    }
    &__tabs {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &__tab {
        cursor: pointer;
        background-color: #FFFFFF;
        border-radius: 16px 16px 0px 0px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        padding: 12px 18px;
        position: relative;
        &__active {
          &:after {
            content: '';
            width: 100%;
            height: 2px;
            background: #1291B6;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
    &__feedback {
      margin: 20px 0 150px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &__list {
        width: 47%;
        &__item {
          cursor: pointer;
          width: 100%;
          margin: 20px 0;
          background: #FFFFFF;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          padding: 18px 20px;
          &__title {
            font-weight: 500;
            font-size: 19px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.87);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 45%;
          }
          &__time {
            &__title {
              font-size: 14px;
              line-height: 28px;
              color: #DCDCDC;
            }
            &__info {
              font-weight: 500;
              font-size: 19px;
              line-height: 28px;
              color: rgba(0, 0, 0, 0.87);
            }
          }
        }
      }
      &__info {
        margin: 20px 0;
        width: 49%;
        padding: 30px;
        background: #FFFFFF;
        border-radius: 10px;
        &__title {
          font-weight: 500;
          font-size: 24px;
          line-height: 22px;
          color: #000000;
          margin: 0 0 20px;
        }
      }
    }
    &__characteristics {
      margin: 20px 0 150px;
      &__filter {
        display: flex;
        margin: 0 0 40px 0;
        &__item {
          padding: 5px 20px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          color: #000000;
          background: #FFFFFF;
          border-radius: 10px;
          margin: 0 10px 0 0;
          cursor: pointer;
          > svg {
            transition: 0.3s;
            fill: #000000;
            transform: rotate(-180deg);
            margin: 0 0 0 15px;
          }
          &__active {
            background: #707375;
            color: #FFFFFF;
            > svg {
              fill: #FFFFFF;
              transform: rotate(0deg);
            }
          }
        }
      }

    }
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    .control {
      &__tabs {
        align-items: stretch;
        &__tab {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
        }
      }
      &__feedback {
        margin: 20px 0 150px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        &__list {
          width: 100%;
          &__item {
            &__title {
              font-weight: 500;
              font-size: 16px;
              width: 47%;
            }
            &__time {
              width: 50%;
              &__title {
                font-size: 14px;
                line-height: 28px;
                color: #DCDCDC;
              }
              &__info {
                font-size: 16px;
              }
            }
          }
        }
        &__info {
          width: 100%;
        }
      }
    }
  }
</style>
