<template>
  <div class="container curators">
    <div class="curators__search">
      <div class="curators__search__block">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z" fill="black"/>
        </svg>
        <input type="text" v-model="search" @input="searchUser()" placeholder="Поиск">
        <div class="curators__search__block__clear" v-if="search.length > 0" @click="clearSearch()">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="black"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="curators__page__title">
      <span v-if="search.length === 0 && additional_curators">Важные контакты</span>
      <span v-if="search_results && search.length > 0">Результаты поиска</span>
    </div>
    <div class="curators__cards" v-if="search_results && search.length > 0" >
      <div class="curators__cards__item" @click="goVK(curator)" v-for="curator in search_results.curators" :key="curator.id">
        <div class="curators__cards__item__image">
          <img :src="curator.photo" alt="">
        </div>
        <div class="curators__cards__item__info">
          <div class="curators__cards__item__info__name">{{curator.surname}} {{curator.first_name}}</div>
          <div class="curators__cards__item__info__group">Роль: {{curator.role}}</div>
          <div class="curators__cards__item__info__group">Курируемая группа: {{curator.group}}</div>
        </div>
      </div>
    </div>
    <div class="curators__cards" v-if="search.length === 0 && additional_curators">
      <div class="curators__cards__item" @click="goVK(curator)" v-for="curator in additional_curators.curators" :key="curator.id">
        <div class="curators__cards__item__image">
          <img :src="curator.photo" alt="">
        </div>
        <div class="curators__cards__item__info">
          <div class="curators__cards__item__info__name">{{curator.surname}} {{curator.first_name}}</div>
          <div class="curators__cards__item__info__group">Роль: {{curator.role}}</div>
          <div class="curators__cards__item__info__group" v-if="curator.group !== ''">Курируемая группа: {{curator.group}}</div>
        </div>
      </div>
    </div>
    <div class="curators__page__title" v-if="search.length === 0">
      Другие кураторы
    </div>
    <div class="curators__filter" v-if="search.length === 0">
      <div @click="selectFilter(filter)" class="curators__filter__item" :class="{ curators__filter__item__active: select_filter === filter }" v-for="filter in filters" :key="filter">
        {{filter}}
        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.59 7.41016L6 2.83015L1.41 7.41016L2.00013e-06 6.00015L6 0.000153798L12 6.00016L10.59 7.41016Z"/>
        </svg>
      </div>
    </div>
    <div class="curators__cards" v-if="search.length === 0 && select_faculty.main_curators">
      <div class="curators__cards__item" @click="goVK(curator)" v-for="curator in select_faculty.main_curators" :key="curator.id">
        <div class="curators__cards__item__image">
          <img :src="curator.photo" alt="">
        </div>
        <div class="curators__cards__item__info">
          <div class="curators__cards__item__info__name">{{curator.surname}} {{curator.first_name}}</div>
          <div class="curators__cards__item__info__group">Роль: {{curator.role}}</div>
          <div class="curators__cards__item__info__group">Курируемая группа: {{curator.group}}</div>
        </div>
      </div>
      <div class="curators__cards__item" @click="goVK(curator)" v-for="curator in select_faculty.curators" :key="curator.id">
        <div class="curators__cards__item__image">
          <img :src="curator.photo" alt="">
        </div>
        <div class="curators__cards__item__info">
          <div class="curators__cards__item__info__name">{{curator.surname}} {{curator.first_name}}</div>
          <div class="curators__cards__item__info__group">Роль: {{curator.role}}</div>
          <div class="curators__cards__item__info__group">Курируемая группа: {{curator.group}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Curators',
  data () {
    return {
      search: '',
      select_filter: 'ИСиТ',
      filters: ['ИСиТ', 'РТС', 'ИКСС', 'ГФ', 'ЦЭУБИ', 'ФФП', 'ВУЦ', 'КТ']
    }
  },
  methods: {
    ...mapActions({
      loadFaculty: 'curators/loadFaculty',
      searchCurator: 'curators/searchCurator',
      loadAdditionalCurators: 'curators/loadAdditionalCurators'
    }),
    clearSearch () {
      this.search = ''
    },
    selectFilter (faculty) {
      this.select_filter = faculty
      this.loadFaculty({ faculty: this.select_filter })
    },
    searchUser () {
      this.searchCurator({ search: this.search })
    },
    goVK (curator) {
      window.open(curator.vk, '_blank')
    }
  },
  beforeMount () {
    this.loadFaculty({ faculty: this.select_filter })
    this.loadAdditionalCurators()
  },
  computed: {
    ...mapGetters({
      select_faculty: 'curators/select_faculty',
      search_results: 'curators/search_results',
      additional_curators: 'curators/additional_curators'
    })
  }
}
</script>

<style scoped lang="scss">
  .curators {
    &__search {
      &__block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
        background: #FFFFFF;
        border-radius: 255px;
        padding: 11px 15px;
        position: relative;
        > input {
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          padding: 0 0 0 15px;
        }
        &__clear {
          position: absolute;
          right: 15px;
          top: 13px;
          display: flex;
          cursor: pointer;
        }
      }
    }
    &__page {
      &__title {
        margin: 40px 0 60px;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        color: #000000;
      }
    }
    &__filter {
      display: flex;
      margin: 0 0 40px 0;
      &__item {
        padding: 5px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #000000;
        background: #FFFFFF;
        border-radius: 10px;
        margin: 0 10px 0 0;
        cursor: pointer;
        > svg {
          transition: 0.3s;
          fill: #000000;
          transform: rotate(-180deg);
          margin: 0 0 0 15px;
        }
        &__active {
          background: #707375;
          color: #FFFFFF;
          > svg {
            fill: #FFFFFF;
            transform: rotate(0deg);
          }
        }
      }
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
      &__item {
        cursor: pointer;
        width: 24%;
        display: flex;
        height: 100px;
        margin: 0 1% 20px 0;
        background: #FFFFFF;
        border-radius: 8px;
        overflow: hidden;
        filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
        &__image {
          width: 70px;
          height: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          > img {
            height: 100%;
          }
        }
        &__info {
          width: calc(100% - 70px);
          padding: 12px 10px;
          &__name {
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
          }
          &__group {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #999999;
          }
        }
      }
    }
  }
  @media (min-width: 0px) and (max-width: 589px) {
    .curators {
      &__search {
        &__block {
          width: 90%;
        }
      }
      &__filter {
        width: 100%;
        overflow: auto;
        padding: 0 0 20px;
      }
      &__cards {
        &__item {
          width: 100%;
        }
      }
    }
  }
  @media (min-width: 590px) and (max-width: 1024px) {
    .curators {
      &__search {
        &__block {
          width: 50%;
        }
      }
      &__filter {
        width: 100%;
        overflow: auto;
        padding: 0 0 20px;
      }
      &__cards {
        justify-content: space-between;
        &__item {
          width: 48%;
        }
      }
    }
  }
  @media (min-width: 1025px) and (max-width: 1300px) {
    .curators {
      &__search {
        &__block {
          width: 50%;
        }
      }
      &__filter {
        width: 100%;
        overflow: auto;
        padding: 0 0 20px;
      }
      &__cards {
        &__item {
          width: 32%;
        }
      }
    }
  }
</style>
