<template>
  <div class="container group">
    <div v-if="stepGroup === 'history'">
      <div class="group__header" v-if="user && curators">
        <div class="group__header__info">
          <div class="group__header__info__title">Ваша курируемая группа</div>
          <div class="group__header__info__group">{{user.students_group}}</div>
          <div class="group__header__info__button">
            <button @click="stepGroup = 'mailing'">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 20L4 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM16 12H4V10H16V12ZM16 9H4V7H16V9ZM16 6H4V4H16V6Z" fill="white"/>
              </svg>
              Рассылка
            </button>
          </div>
        </div>
        <div class="group__header__curators">
          <div class="group__header__curators__item" v-for="curator in  curators" :key="curator.id">
            <div class="group__header__curators__item__title">
              {{curator.role}}
            </div>
            <div class="group__header__curators__item__name">
              {{curator.surname + ' ' + curator.first_name + ' ' + curator.parent_name}}
            </div>
          </div>
        </div>
      </div>
      <div class="group__users">
        <div class="group__users__item" v-for="student in students" :key="student.vk">
          <div class="group__users__item__header">
            <div class="group__users__item__header__left">
              <div class="group__users__item__header__left__name">{{student.surname + ' ' + student.first_name  + ' ' + student.parent_name}}</div>
              <div class="group__users__item__header__left__birthday">{{student.birth_date}}</div>
            </div>
            <div class="group__users__item__header__right">
              <div class="group__users__item__header__right__phone">{{student.phone}}</div>
              <div class="group__users__item__header__right__home">{{student.address}}
              </div>
            </div>
          </div>
          <a :href="student.vk" target="_blank" class="group__users__item__footer">
            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.5 0.25C3.05 0.25 0.25 3.05 0.25 6.5C0.25 9.95 3.05 12.75 6.5 12.75C9.95 12.75 12.75 9.95 12.75 6.5C12.75 3.05 9.95 0.25 6.5 0.25ZM7.125 9.625H5.875V5.875H7.125V9.625ZM7.125 4.625H5.875V3.375H7.125V4.625Z" fill="#1291B6"/>
            </svg>
            Профиль
          </a>
        </div>
      </div>
    </div>
    <div class="group__mailing" v-if="stepGroup === 'mailing'">
      <div class="group__mailing__title">Рассылка</div>
      <div class="back" @click="stepGroup = 'history', news = ''">
        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.52578 12L7.62289 10.9913L2.96974 6.71304L16 6.71304L16 5.28696L2.96974 5.28696L7.62289 1.00872L6.52578 1.25412e-07L5.2462e-07 5.99905L6.52578 11.9981L6.52578 12Z" fill="#707375"/>
        </svg>
        Назад
      </div>
      <div class="group__mailing__tabs">
        <div class="group__mailing__tabs__tab" @click="historyStep = 'history', news = ''" :class="{active__tab: historyStep === 'history' }">История</div>
        <div class="group__mailing__tabs__button">
          <button @click="historyStep = 'create'">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 5H9V9H5V11H9V15H11V11H15V9H11V5ZM10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z" fill="#1291B6"/>
            </svg>
            Создать новость
          </button>
        </div>
      </div>
      <div class="group__mailing__content">
        <div class="group__mailing__content__history" v-if="historyStep === 'history'">
          <div class="group__mailing__content__history__item" v-for="item in news" :key="item.id">
            <div class="group__mailing__content__history__item__left">
              <div class="group__mailing__content__history__item__left__block">
                <div class="group__mailing__content__history__item__left__block__title">Тип</div>
                <div class="group__mailing__content__history__item__left__block__value">Новость</div>
              </div>
              <div class="group__mailing__content__history__item__left__block">
                <div class="group__mailing__content__history__item__left__block__title">Дата</div>
                <div class="group__mailing__content__history__item__left__block__value">{{item.created_at | time}} {{item.created_at | date}}</div>
              </div>
              <div class="group__mailing__content__history__item__left__block">
                <div class="group__mailing__content__history__item__left__block__title">Статус</div>
                <div class="group__mailing__content__history__item__left__block__value" v-if="item.sended_at">Отправлено</div>
                <div class="group__mailing__content__history__item__left__block__value" v-else>Отправляется</div>
              </div>
            </div>
            <div class="group__mailing__content__history__item__right">
              <div class="group__mailing__content__history__item__right__title">Текст</div>
              <div class="group__mailing__content__history__item__right__info">
                {{item.text}}
              </div>
            </div>
          </div>
          <div class="group__mailing__content__history__null" style="margin-top: 16px;" v-if="news && news.length === 0">Здесь будет выводиться история рассылок</div>
        </div>
        <div class="group__mailing__content__create" v-if="historyStep === 'create'">
          <div class="group__mailing__content__create__title">
            Новая новость
          </div>
          <div class="group__mailing__content__create__subtitle">
            Текст
          </div>
          <div class="group__mailing__content__create__input">
            <textarea placeholder="Введите текст" v-model="text"></textarea>
          </div>
          <div class="group__mailing__content__create__send">
            <button @click="sendNews()">Отправить новость</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'
export default {
  name: 'Group',
  data () {
    return {
      stepGroup: 'history',
      historyStep: 'history',
      text: ''
    }
  },
  methods: {
    ...mapActions({
      loadNews: 'group/loadNews',
      loadStudents: 'group/loadStudents',
      loadAdditionalCurators: 'curators/loadAdditionalCurators',
      setNews: 'group/setNews',
      loadUser: 'profile/loadUser'
    }),
    sendNews () {
      this.setNews({ text: this.text })
        .then(() => {
          this.$q.notify({
            message: 'Новость отправлена!',
            color: 'primary'
          })
          this.text = ''
          this.loadNews()
            .then(() => {
              this.historyStep = 'history'
            })
        })
        .catch(() => {
          this.$q.notify({
            message: 'Произошла ошибка! Попробуйле позже',
            color: 'negative'
          })
        })
    },
    moment () {
      return moment
    }
  },
  mounted () {
    this.loadUser()
    this.loadNews()
    this.loadStudents()
    this.loadAdditionalCurators()
  },
  computed: {
    ...mapGetters({
      news: 'group/news',
      students: 'group/students',
      user: 'profile/user',
      additional_curators: 'curators/additional_curators'
    }),
    curators () {
      if (this.additional_curators.curators) {
        return this.additional_curators.curators.filter(curator => curator.role === 'Напарник' || curator.role === 'Старший куратор')
      } else {
        return []
      }
    }
  },
  filters: {
    birthday: function (date) {
      return moment(date, 'MM/DD/YYYY').format('DD.MM.YYYY')
    },
    date (date) {
      return moment(date, 'MM-DD-YYYY[T]HH:mm:ss').format('DD.MM.YYYY')
    },
    time (date) {
      return moment(date, 'MM-DD-YYYY[T]HH:mm:ss').format('HH:mm')
    }
  }
}
</script>

<style scoped lang="scss">
  .group {
    &__header {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      &__info {
        margin: 0 40px 0 0;
        &__title {
          font-size: 14px;
          line-height: 16px;
          color: rgba(0, 0, 0, 0.54);
        }
        &__group {
          margin: 10px 0 0;
          font-weight: bold;
          font-size: 19px;
          line-height: 26px;
          color: rgba(0, 0, 0, 0.87);
        }
        &__button {
          margin: 20px 0 0;
          > button {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            outline: none;
            border: none;
            background: #F8981D;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            padding: 11px 88px;
            > svg {
              margin: 0 10px 0 0;
            }
          }
        }
      }
      &__curators {
        &__item {
          margin: 0 0 20px;
          &__title {
            font-size: 14px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.54);
          }
          &__name {
            margin: 10px 0 0;
            font-weight: bold;
            font-size: 19px;
            line-height: 26px;
            color: rgba(0, 0, 0, 0.87);
          }
        }
      }
    }
    &__users {
      margin: 50px 0 0;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      flex-wrap: wrap;
      &__item {
        width: 32%;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        background: #FFFFFF;
        border-radius: 10px;
        padding: 20px;
        margin: 0 0 20px;
        &:nth-child(3n + 2) {
          margin: 0 2% 20px;
        }
        &__header {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          &__left {
            width: 47%;
            &__name {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              color: rgba(0, 0, 0, 0.87);
            }
            &__birthday {
              margin: 5px 0 0;
              font-weight: 500;
              font-size: 14px;
              line-height: 28px;
              color: rgba(0, 0, 0, 0.87);
            }
          }
          &__right {
            width: 47%;
            &__phone {
              font-weight: 500;
              font-size: 14px;
              line-height: 28px;
              color: rgba(0, 0, 0, 0.87);
            }
            &__home {
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.87);
            }
          }
        }
        &__footer {
          margin: 20px 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 16px;
          line-height: 16px;
          color: #1291B6;
          > svg {
            margin: 0 8px 0 0;
          }
        }
      }
    }
    &__mailing {
      &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.87);
        margin: 0 0 20px;
      }
      &__tabs {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 60%;
        &__tab {
          cursor: pointer;
          background-color: #FFFFFF;
          border-radius: 16px 16px 0 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #000000;
          padding: 12px 18px;
          position: relative;
          display: flex;
          align-items: center;
        }
        &__button {
          > button {
            display: flex;
            align-items: center;
            cursor: pointer;
            outline: none;
            justify-content: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #1291B6;
            padding: 10px 24px;
            background: #FFFFFF;
            border-radius: 255px;
            border: none;
            > svg {
              margin: 0 10px 0 0;
            }
          }
        }
      }
      &__content {
        &__history {
          &__item {
            margin: 20px 0;
            width: 60%;
            background: #FFFFFF;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            padding: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            &__left {
              width: 30%;
              &__block {
                margin: 0 0 10px;
                &__title {
                  font-size: 14px;
                  line-height: 28px;
                  color: #DCDCDC;
                  margin: 0 0 5px;
                }
                &__value {
                  font-weight: 500;
                  font-size: 19px;
                  line-height: 22px;
                  color: rgba(0, 0, 0, 0.87);
                }
              }
            }
            &__right {
              width: 70%;
              &__title {
                font-size: 14px;
                line-height: 28px;
                color: #DCDCDC;
                margin: 0 0 5px;
              }
              &__info {
                &::-webkit-scrollbar {
                  width: 6px;
                }
                &::-webkit-scrollbar-thumb {
                  background-color: #1291B6;
                  border-radius: 6px;
                }
                max-height: 200px;
                overflow: auto;
                white-space: pre-line;
                font-weight: 500;
                font-size: 19px;
                line-height: 28px;
                color: rgba(0, 0, 0, 0.87);
              }
            }
          }
        }
        &__create {
          margin: 20px 0 0;
          padding: 20px;
          width: 60%;
          background-color: #FFFFFF;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          &__title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            > svg {
              margin: 0 0 0 14px;
            }
          }
          &__subtitle {
            font-size: 14px;
            line-height: 28px;
            color: #DCDCDC;
            margin: 15px 0 0;
          }
          &__input {
            margin: 8px 0 0;
            > textarea {
              background: #FFFFFF;
              box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
              border-radius: 10px;
              width: 100%;
              height: 180px;
              margin: 0 0 16px;
              resize: none;
              border-color: #707375;
              padding: 12px;
              outline: none;
              &:hover {
                border-color: #000000;
              }
              &:focus {
                border-color: #1291B6;
              }
            }
          }
          &__send {
            > button {
              cursor: pointer;
              outline: none;
              border: none;
              font-size: 16px;
              line-height: 16px;
              color: #FFFFFF;
              background: #1291B6;
              border-radius: 10px;
              cursor: pointer;
              padding: 8px 36px;
            }
          }
        }
      }
    }
  }
  .active{
    &__tab {
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #1291B6;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  .back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 16px;
    color: #707375;
    cursor: pointer;
    margin: 0 0 20px;
    > svg {
      margin: 0 8px 0 0;
    }
  }
  @media (min-width: 0) and (max-width: 720px) {
    .group {
      &__header {
        display: flex;
        padding: 0 20px;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        &__curators {
          margin: 20px 0 0 0;
        }
      }
      &__users {
        padding: 20px;
        margin: 50px 0 0;
        &__item {
          width: 100%;
          padding: 20px;
          margin: 0 0 20px;
          &:nth-child(3n + 2) {
            margin: 0 0 20px;
          }
          &__header {
            flex-wrap: wrap;
            &__left {
              width: 100%;
            }
            &__right {
              width: 100%;
            }
          }
        }
      }
      &__mailing {
        padding: 0 20px;
        &__tabs {
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          width: 100%;
        }
        &__content {
          &__history {
            &__item {
              margin: 20px 0;
              width: 100%;
              border-radius: 10px;
              padding: 20px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              flex-wrap: wrap;
              &__left {
                width: 100%;
              }
              &__right {
                width: 100%;
              }
            }
          }
          &__create {
            width: 100%;
          }
        }
      }
    }
  }
  @media (min-width: 721px) and (max-width: 1024px) {
    .group {
      padding: 40px 0 0;
      &__users {
        padding: 20px;
        margin: 50px 0 0;
        &__item {
          width: 48%;
          padding: 20px;
          margin: 0 0px 20px 0;
          &:nth-child(3n + 2) {
            margin: 0 0 20px;
          }
          &:nth-child(2n) {
            margin: 0 0 20px 20px;
          }
          &__header {
            flex-wrap: wrap;
            &__left {
              width: 100%;
            }
            &__right {
              width: 100%;
            }
          }
        }
      }
      &__mailing {
        padding: 0 20px;
        &__tabs {
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          width: 100%;
        }
        &__content {
          &__history {
            &__item {
              margin: 20px 0;
              width: 60%;
              border-radius: 10px;
              padding: 20px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              flex-wrap: wrap;
              &__left {
                width: 100%;
              }
              &__right {
                width: 100%;
              }
            }
          }
          &__create {
            width: 100%;
          }
        }
      }
    }
  }
</style>
