<template>
  <div class="home">
    <div class="container home__container">
      <div class="home__info">
        <div class="home__info__events" v-if="future_events && future_events[0]">
          <div class="home__info__events__title">Ближайшее событие</div>
          <div class="home__info__events__block">
            <div class="home__info__events__block__image">
              <img :src="future_events[0].event.photo" v-if="future_events[0].event.photo" alt="">
              <img v-else src="https://sib.fm/storage/article/May2020/oRpbw5FPiM1nZhilS4Yw.jpeg" width="100%" alt="">
            </div>
            <div class="home__info__events__block__info">
              <div class="home__info__events__block__info__title">{{future_events[0].event.title}}</div>
              <div class="home__info__events__block__info__description">{{future_events[0].event.goal}}</div>
              <div class="home__info__events__block__info__button">
                <button @click="goEvent(future_events[0].id)">
                  Перейти к сеансу
                  <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.47422 0L8.37711 1.00871L13.0303 5.28696L0 5.28696L0 6.71304L13.0303 6.71304L8.37711 10.9913L9.47422 12L16 6.00095L9.47422 0.0019013V0Z" fill="white"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="home__info__events" v-else>
          <div class="home__info__events__title">Ближайшее событие</div>
          <div class="home__info__events__block">
            <div class="home__info__events__block__image">
              <img src="https://sun9-65.userapi.com/impf/PBcCO25fWSJaFm89_wqGobtw7nsjFmRF3ujBrw/TYHfRloImmQ.jpg?size=1080x1080&quality=96&proxy=1&sign=c0ab22793311b27274da97ead3a5a743&type=album" width="100%" alt="">
            </div>
            <div class="home__info__events__block__info">
              <div class="home__info__events__block__info__title">А ты мыл попу?</div>
              <div class="home__info__events__block__info__description">Ты молодец, выполнил все прошедшие кураторские, а попу помыл?</div>
              <div class="home__info__events__block__info__button">
              </div>
            </div>
          </div>
        </div>
        <div class="home__info__rating" v-if="curators.length > 0">
          <div class="home__info__rating__header">
            <div class="home__info__rating__header__title">Рейтинг кураторов</div>
            <div class="home__info__rating__header__all">
              <router-link :to="{ name: 'rating' }">
                Общий рейтинг
                <svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.92139 0L5.2357 0.672477L8.14391 3.52464L0 3.52464L0 4.47536H8.14391L5.2357 7.32752L5.92139 8L10 4.00063L5.92139 0.00126754V0Z" fill="black" fill-opacity="0.54"/>
                </svg>
              </router-link>
            </div>
          </div>
          <div class="home__info__rating__wrapper" v-if="curators">
            <a :href="curator.vk" target="_blank" class="home__info__rating__wrapper__item" v-for="curator in curators.slice(0, 6)" :key="curator.id">
              <div class="home__info__rating__wrapper__item__place">{{curator.place}}</div>
              <div class="home__info__rating__wrapper__item__image"><img :src="curator.photo" alt=""></div>
              <div class="home__info__rating__wrapper__item__name">{{curator.surname + ' ' + curator.first_name + ' ' + curator.parent_name}}</div>
              <div class="home__info__rating__wrapper__item__score">{{curator.points}}</div>
            </a>
          </div>
        </div>
      </div>
      <div class="home__materials" v-if="materials">
        <div class="home__materials__header">
          <div class="home__materials__header__title">Материалы</div>
          <div class="home__materials__header__all">
            <router-link :to="{ name: 'materials' }">
              Полный список
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.92139 0.555664L5.2357 1.30286L8.14391 4.47193H0L0 5.52829L8.14391 5.52829L5.2357 8.69736L5.92139 9.44455L10 5.00081L5.92139 0.557072V0.555664Z" fill="black" fill-opacity="0.4"/>
              </svg>
            </router-link>
          </div>
        </div>
        <div class="home__materials__blocks" v-if="materials">
          <router-link :to="{ name: 'materials.item', params: { id: material.id } }" class="home__materials__blocks__item" v-for="(material, index) in materials.slice(0, 4)" :key="index">
            <div class="home__materials__blocks__item__image">
              <img :src="material.photo" alt="" v-if="material.photo">
              <img src="https://sib.fm/storage/article/May2020/oRpbw5FPiM1nZhilS4Yw.jpeg" v-else width="100%" alt="">
            </div>
            <div class="home__materials__blocks__item__info">
              <div class="home__materials__blocks__item__info__title">{{material.title}}</div>
              <div class="home__materials__blocks__item__info__description">{{material.description}}</div>
              <div class="home__materials__blocks__item__info__go">
                <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.47422 0L8.37711 1.00871L13.0303 5.28696L0 5.28696L0 6.71304L13.0303 6.71304L8.37711 10.9913L9.47422 12L16 6.00095L9.47422 0.0019013V0Z" fill="#1291B6"/>
                </svg>
              </div>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Main',
  computed: {
    ...mapGetters({
      future_events: 'events/future_events',
      curators: 'rating/curators',
      materials: 'events/materials'
    })
  },
  methods: {
    ...mapActions({
      loadFutureEvents: 'events/loadFutureEvents',
      eventInfo: 'events/eventInfo',
      loadCuratorsRating: 'rating/loadRating',
      loadMaterials: 'events/loadMaterials'
    }),
    goEvent (id) {
      this.$router.push({ name: 'events.future.item', params: { id: id } })
    }
  },
  beforeMount () {
    this.loadFutureEvents()
    this.loadCuratorsRating()
    this.loadMaterials()
  }
}
</script>

<style scoped lang="scss">
  .home {
    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__info {
      width: calc(100% - 412px);
      display: flex;
      flex-flow: column;
      &__events {
        &__title {
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          color: rgba(0, 0, 0, 0.87);
          margin: 0 0 40px;
        }
        &__block {
          width: 100%;
          height: 212px;
          background: #FFFFFF;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
          border-radius: 16px;
          overflow: hidden;
          display: flex;
          align-items: stretch;
          justify-content: flex-start;
          &__image {
            width: 256px;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin: 0 32px 0 0;
            > img {
              height: 100%;
            }
          }
          &__info {
            width: calc(100% - 288px);
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            &__title {
              width: 90%;
              font-weight: bold;
              font-size: 24px;
              line-height: 27px;
              color: rgba(0, 0, 0, 0.87);
            }
            &__description {
              width: 90%;
              font-size: 16px;
              line-height: 19px;
              color: rgba(0, 0, 0, 0.7);
              margin: 24px 0;
            }
            &__button {
              > button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 32px;
                outline: none;
                border: none;
                background: #1291B6;
                border-radius: 8px;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                cursor: pointer;
                > svg {
                  margin: 0 0 0 8px;
                }
              }
            }
          }
        }
      }
      &__rating {
        margin: 60px 0 60px;
        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 0 40px;
          &__title {
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            color: rgba(0, 0, 0, 0.87);
          }
          &__all {
            display: flex;
            align-items: center;
            > a {
              margin: 0;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              font-weight: 600;
              font-size: 13px;
              line-height: 18px;
              color: rgba(0, 0, 0, 0.54);
              > svg {
                margin: 0 0 0 8px;
              }
            }
          }
        }
        &__wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          &__item {
            width: calc(50% - 10px);
            padding: 19px 18px;
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 0 20px;
            &__place {
              width: 35px;
              font-weight: 500;
              font-size: 19px;
              line-height: 22px;
              text-align: center;
              color: rgba(0, 0, 0, 0.7)
            }
            &__image {
              margin: 0 20px;
              width: 40px;
              height: 40px;
              display: flex;
              align-items: flex-start;
              justify-content: center;
              border-radius: 50%;
              overflow: hidden;
              > img {
                width: 100%;
              }
            }
            &__name {
              width: calc(100% - 160px);
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              color: #000000;
            }
            &__score {
              width: 45px;
              font-size: 19px;
              line-height: 22px;
              text-align: right;
              color: #707375;
            }
          }
        }
      }
    }
    &__materials {
      width: 390px;
      margin: 0 0 50px;
      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin: 0 0 40px;
        &__title {
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          color: rgba(0, 0, 0, 0.87);
        }
        &__all {
          > a {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.54);
            > svg {
              margin: 0 0 0 8px;
            }
          }
        }
      }
      &__blocks {
        padding: 0 20px;
        &__item {
          width: 100%;
          height: 140px;
          background: #F2FCFF;
          border: 1px solid #A8DEEE;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          align-items: stretch;
          justify-content: flex-start;
          margin: 0 0 20px;
          &:nth-child(2) {
            background: #E9FFFB;
            border: 1px solid #86FFEA;
          }
          &:nth-child(3) {
            background: #F1EDFF;
            border: 1px solid #D7B7FD;
          }
          &__image {
            width: 100px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            > img {
              height: 100%;
            }
          }
          &__info {
            width: calc(100% - 100px);
            padding: 17px 22px 17px 0;
            position: relative;
            margin: 0 0 0 19px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-flow: column;
            &__title {
              font-weight: bold;
              font-size: 15px;
              line-height: 18px;
              color: rgba(0, 0, 0, 0.87);
            }
            &__description {
              margin: 5px 0 0;
              font-weight: 300;
              font-size: 13px;
              line-height: 15px;
              color: rgba(0, 0, 0, 0.7);
              word-break: break-word;
            }
            &__go {
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              overflow: hidden;
              box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
              position: absolute;
              right: 25px;
              bottom: 20px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 629px) {
    .home {
      &__container {
        flex-wrap: wrap;
      }
      &__info {
        width: 100%;
        &__events {
          &__block {
            width: 100%;
            height: auto;
            background: #FFFFFF;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
            border-radius: 16px;
            overflow: hidden;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: flex-start;
            &__image {
              width: 100%;
              height: 200px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &__info {
              width: 100%;
              display: flex;
              flex-flow: column;
              justify-content: center;
              align-items: flex-start;
              &__title {
                padding: 0 20px;
                margin: 20px 0 0;
                width: 90%;
                font-weight: bold;
                font-size: 24px;
                line-height: 27px;
                color: rgba(0, 0, 0, 0.87);
              }
              &__description {
                padding: 0 20px;
                width: 90%;
                font-size: 16px;
                line-height: 19px;
                color: rgba(0, 0, 0, 0.7);
                margin: 24px 0;
              }
              &__button {
                padding: 0 20px 20px;
                > button {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 16px 32px;
                  outline: none;
                  border: none;
                  background: #1291B6;
                  border-radius: 8px;
                  font-size: 16px;
                  line-height: 19px;
                  color: #FFFFFF;
                  cursor: pointer;
                  > svg {
                    margin: 0 0 0 8px;
                  }
                }
              }
            }
          }
        }
        &__rating {
          margin: 60px 0;
          &__header {
            flex-wrap: wrap;
          }
          &__wrapper {
            &__item {
              width: 100%;
            }
          }
        }
      }
      &__materials {
        width: 100%;
        margin: 0;
        &__header {
          padding: 0;
          margin: 0 0 40px;
        }
        &__blocks {
          padding: 0;
        }
      }
    }
  }
  @media (min-width: 630px) and (max-width: 1280px) {
    .home {
      &__container {
        flex-wrap: wrap-reverse;
      }
      &__info {
        width: 100%;
      }
      &__materials {
        width: 100%;
        margin: 0;
        &__header {
          padding: 0;
          margin: 0 0 40px;
        }
        &__blocks {
          padding: 0;
        }
      }
    }
  }
</style>
