<template>
  <q-page class="flex flex-center">
    <div class="login">
      <div class="login__title">
        Вход в систему
      </div>
      <div class="login__vk">
        <button @click="authVk()">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 0C1.79086 0 0 1.79086 0 4V20C0 22.2091 1.79086 24 4 24H20C22.2091 24 24 22.2091 24 20V4C24 1.79086 22.2091 0 20 0H4ZM10.6538 6.41748C11.3333 6.41044 11.998 6.48578 12.3223 6.49512C13.5243 6.52972 13.7365 7.13766 13.7212 7.6377C13.7086 8.04788 13.5552 9.20015 13.5761 10.1876C13.5998 11.3021 14.7034 11.4737 15.3373 10.5568C15.9657 9.64782 16.4531 8.48711 16.8471 7.6377C17.1614 6.96034 17.1117 6.92668 17.8359 6.92578L20.7129 6.92138C21.4057 6.92052 21.3786 6.89622 21.6006 7.1792C22.1168 7.83736 19.9716 10.5751 19.2788 11.332C18.0002 12.729 18.7462 13.2699 18.9521 13.4619C19.9063 14.3516 20.8283 15.2741 21.4014 16.125C21.8569 16.8014 21.6688 17.4312 21.0893 17.4551L18.0044 17.5825C16.9806 17.6246 15.3888 15.7895 15.1348 15.3896C14.9293 15.0598 13.939 14.6465 13.8457 15.4892L13.7153 16.6655C13.6206 17.5063 12.9998 17.4867 12.5098 17.5077C9.11638 17.6538 7.96076 16.3618 6.25192 14.455C4.9995 12.6838 3.80432 10.9024 2.81394 8.76848C2.37048 7.81293 2.91217 6.90603 3.9656 6.90264C4.5628 6.90071 5.21121 6.9286 5.74216 6.91692C6.06338 6.90984 6.28012 7.0939 6.44968 7.46038C7.09034 8.84534 7.78721 10.2062 8.69756 11.4185C8.75702 11.4977 8.84128 11.5884 8.91856 11.6503C9.50083 12.1169 9.84396 10.7944 9.8522 10.0483C9.85596 9.70741 9.85633 9.34053 9.85838 9.01018C9.85867 8.96301 9.85855 8.91518 9.85768 8.86689C9.83547 7.6385 9.42527 6.43022 10.6538 6.41748Z" fill="#1291B6"/>
          </svg>
          Войти с помощью Вконтакте
        </button>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Login',
  methods: {
    authVk () {
      window.location.replace('http://curator.sut.ru/login/vk-oauth2/')
    }
  }
}
</script>

<style scoped lang="scss">
  .login {
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px 40px;
    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 37px;
    }
    &__vk {
      margin: 30px 0 0;
      > button {
        padding: 8px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #1291B6;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 14px;
        line-height: 16px;
        color: #1291B6;
        outline: none;
        cursor: pointer;
        background: none;
        > svg {
          margin: 0 10px 0 0;
        }
      }
    }
  }
</style>
