<template>
  <div class="material">
    <div class="container">
      <div @click="$router.go(-1)" class="material__back">
        <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.52578 12L7.62289 10.9913L2.96974 6.71304L16 6.71304L16 5.28696L2.96974 5.28696L7.62289 1.00872L6.52578 1.25412e-07L5.2462e-07 5.99905L6.52578 11.9981L6.52578 12Z" fill="#707375"/>
        </svg>
        Назад
      </div>
      <div class="material__block" v-if="material">
        <div class="material__block__image">
          <img :src="material.photo" alt="">
        </div>
        <div class="material__block__header">
          <div class="material__block__header__date">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 11H7V13H9V11ZM13 11H11V13H13V11ZM17 11H15V13H17V11ZM19 4H18V2H16V4H8V2H6V4H5C3.89 4 3.01 4.9 3.01 6L3 20C3 21.1 3.89 22 5 22H19C20.1 22 21 21.1 21 20V6C21 4.9 20.1 4 19 4ZM19 20H5V9H19V20Z" fill="#CCCCCC"/>
            </svg>
            {{material.created_at | date}}
          </div>
          <a :href="'http://curator.sut.ru' + material.attachment" v-if="material.attachment" class="material__block__header__file">
            <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19.275 6.39375L14.025 1.58125C13.875 1.44375 13.725 1.375 13.5 1.375H6C5.175 1.375 4.5 1.99375 4.5 2.75V19.25C4.5 20.0063 5.175 20.625 6 20.625H18C18.825 20.625 19.5 20.0063 19.5 19.25V6.875C19.5 6.66875 19.425 6.53125 19.275 6.39375ZM13.5 3.025L17.7 6.875H13.5V3.025ZM18 19.25H6V2.75H12V6.875C12 7.63125 12.675 8.25 13.5 8.25H18V19.25Z" fill="#1291B6"/>
              <path d="M7.5 15.125H16.5V16.5H7.5V15.125Z" fill="#1291B6"/>
              <path d="M7.5 11H16.5V12.375H7.5V11Z" fill="#1291B6"/>
            </svg>
            Скачать документ
          </a>
        </div>
        <div class="material__block__title">{{material.title}}</div>
        <div class="material__block__info">{{material.text}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { mapActions } from 'vuex'
export default {
  name: 'Material',
  data () {
    return {
      material: null
    }
  },
  methods: {
    ...mapActions({
      loadMaterialsInfo: 'events/loadMaterialsInfo'
    }),
    moment () {
      return moment
    }
  },
  beforeMount () {
    this.loadMaterialsInfo({ id: this.$route.params.id })
      .then(response => {
        this.material = response.data
      })
  },
  filters: {
    date: function (date) {
      return moment(date, 'MM/DD/YYYY').locale('ru-Ru').format('DD MMMM YYYY')
    }
  }
}
</script>

<style scoped lang="scss">
  .material {
    &__back {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 16px;
      color: #707375;
      margin: 0 0 32px;
      > svg {
        margin: 0 8px 0 0;
      }
    }
    &__block {
      border-radius: 8px 8px 0px 0px;
      margin: 0 0 50px;
      overflow: hidden;
      width: 59%;
      background-color: #FFFFFF;
      &__image {
        height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        > img {
          width: 100%;
        }
      }
      &__header {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        margin: 20px 0 0;
        &__date {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0 20px 0 0;
          font-size: 14px;
          line-height: 19px;
          color: #000000;
          > svg {
            margin: 0 4px 0 0;
          }
        }
        &__file {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 14px;
          line-height: 19px;
          color: #1291B6;
          > svg {
            margin: 0 4px 0 0;
          }
        }
      }
      &__title {
        padding: 0 20px;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: rgba(0, 0, 0, 0.87);
        margin: 24px 0 16px;
      }
      &__info {
        padding: 0 20px 50px;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
        word-break: break-word;
        white-space: pre-wrap;
        text-indent: 0;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    .material {
      &__block {
        width: 100%;
        margin: 0 0 50px;
        &__image {
          height: 180px;
        }
      }
    }
  }
</style>
