<template>
  <div class="materials">
    <div class="container">
      <div class="materials__title">Материалы</div>
      <div class="materials__items" v-if="materials">
        <div @click="goMaterial(material.id)" class="materials__items__item" v-for="(material, index) in materials" :key="index">
          <div class="materials__items__item__image">
            <img :src="material.photo" alt="">
          </div>
          <div class="materials__items__item__info">
            <div class="materials__items__item__info__title">{{material.title}}</div>
            <div class="materials__items__item__info__description">{{material.text}}</div>
            <div class="materials__items__item__info__attachment" @click.stop>
              <div class="materials__items__item__info__attachment__date">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 11H7V13H9V11ZM13 11H11V13H13V11ZM17 11H15V13H17V11ZM19 4H18V2H16V4H8V2H6V4H5C3.89 4 3.01 4.9 3.01 6L3 20C3 21.1 3.89 22 5 22H19C20.1 22 21 21.1 21 20V6C21 4.9 20.1 4 19 4ZM19 20H5V9H19V20Z" fill="#CCCCCC"/>
                </svg>
                {{material.created_at | date}}
              </div>
              <a :href="'http://curator.sut.ru' + material.attachment" v-if="material.attachment" class="materials__items__item__info__attachment__file">
                <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M19.275 6.39375L14.025 1.58125C13.875 1.44375 13.725 1.375 13.5 1.375H6C5.175 1.375 4.5 1.99375 4.5 2.75V19.25C4.5 20.0063 5.175 20.625 6 20.625H18C18.825 20.625 19.5 20.0063 19.5 19.25V6.875C19.5 6.66875 19.425 6.53125 19.275 6.39375ZM13.5 3.025L17.7 6.875H13.5V3.025ZM18 19.25H6V2.75H12V6.875C12 7.63125 12.675 8.25 13.5 8.25H18V19.25Z" fill="#1291B6"/>
                  <path d="M7.5 15.125H16.5V16.5H7.5V15.125Z" fill="#1291B6"/>
                  <path d="M7.5 11H16.5V12.375H7.5V11Z" fill="#1291B6"/>
                </svg>
                Скачать документ
              </a>
            </div>
            <div class="materials__items__item__info__go">
              <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.47422 0L8.37711 1.00871L13.0303 5.28696L0 5.28696L0 6.71304L13.0303 6.71304L8.37711 10.9913L9.47422 12L16 6.00095L9.47422 0.0019013V0Z" fill="#1291B6"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'Materials',
  computed: {
    ...mapGetters({
      materials: 'events/materials'
    })
  },
  methods: {
    ...mapActions({
      loadMaterials: 'events/loadMaterials'
    }),
    moment () {
      return moment
    },
    goMaterial (id) {
      this.$router.push({ name: 'materials.item', params: { id: id } })
    }
  },
  beforeMount () {
    this.loadMaterials()
  },
  filters: {
    date: function (date) {
      return moment(date, 'MM/DD/YYYY').locale('ru-Ru').format('DD MMMM YYYY')
    }
  }
}
</script>

<style scoped lang="scss">
  .materials {
    &__title {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: rgba(0, 0, 0, 0.87);
      margin: 0 0 20px;
    }
    &__items {
      &__item {
        width: 100%;
        height: 180px;
        background: #FFFFFF;
        border-radius: 8px;
        overflow: hidden;
        margin: 0 0 20px;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        &__image {
          width: 190px;
          height: 100%;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          > img {
            height: 100%;
          }
        }
        &__info {
          width: calc(100% - 190px);
          position: relative;
          padding: 20px 25px;
          &__attachment {
            display: flex;
            flex-wrap: wrap;
            margin: 20px 0 0;
            width: 100%;
            &__date {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin: 0 20px 0 0;
              font-size: 14px;
              line-height: 19px;
              color: #000000;
              > svg {
                margin: 0 4px 0 0;
              }
            }
            &__file {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 14px;
              line-height: 19px;
              color: #1291B6;
              > svg {
                margin: 0 4px 0 0;
              }
            }
          }
          &__title {
            width: 70%;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: #000000;

          }
          &__description {
            width: 90%;
            overflow: hidden;
            height: 58px;
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            margin: 10px 0 0;
            word-break: break-all;
          }
          &__go {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            position: absolute;
            right: 25px;
            bottom: 20px;
          }
        }
      }
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    .materials {
      &__items {
        &__item {
          height: auto;
          background: #FFFFFF;
          &__image {
            display: none;
          }
          &__info {
            width: 100%;
            &__title {
              width: 100%;
            }
            &__description {
              width: 70%;
            }
          }
        }
      }
    }
  }
</style>
