<template>
  <div class="container profile">
    <div class="achievement__modal" v-if="showAchiveModal" @click="showAchiveModal = false">
      <div class="achievement__modal__container" @click.stop>
        <div class="achievement__modal__container__title">Наименование достижения</div>
        <div class="achievement__modal__container__select">
          <q-select
            v-model="select_achive"
            :options="achievements_asks"
            outlined
            option-label="name"
            color="primary"
          >
            <template v-slot:option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents"
              >
                <q-item-section>
                  <q-item-label v-html="scope.opt.name" />
                </q-item-section>
              </q-item>
            </template>
          </q-select>
        </div>
        <div class="achievement__modal__container__subtitle">Подтверждающая информация</div>
        <div class="achievement__modal__container__text">
          <textarea placeholder="Ссылка или иная информация, подтверждающая возможность получения достижения..." v-model="text"></textarea>
        </div>
        <div class="achievement__modal__container__button">
          <button @click="sendRequest()">Отправить запрос</button>
        </div>
      </div>
    </div>
    <div class="profile__user">
      <div class="profile__user__image" v-if="user">
        <img :src="user.photo" alt="">
      </div>
      <div class="profile__user__info" v-if="user">
        <div class="profile__user__info__name">{{user.surname + ' ' + user.first_name + ' ' + user.parent_name}}</div>
        <div class="profile__user__info__position">{{user.role}} факультета {{user.supervised_faculty}}</div>
        <div class="profile__user__info__progress__info">
          <div class="profile__user__info__progress__info__rank">{{rating.rank}}</div>
          <div class="profile__user__info__progress__info__numbers">{{rating.points}}/{{rating.next_rank_points}}</div>
        </div>
        <div class="profile__user__info__progress__line">
          <div class="profile__user__info__progress__line__bar" :style="{ width: (rating.points/rating.next_rank_points)*100 + '%'}"></div>
        </div>
        <div class="profile__user__info__rate">Место в рейтинге: <span>{{rating.place}}</span></div>
        <div class="profile__user__info__buttons">
          <button class="profile__user__info__buttons__exit" @click="logout">
            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.00201 18H16.002C17.105 18 18.002 17.103 18.002 16V2C18.002 0.897 17.105 0 16.002 0H2.00201C0.899014 0 0.00201416 0.897 0.00201416 2V8.001H7.00001V4L13 9L7.00001 14V10.001H0.00201416V16C0.00201416 17.103 0.899014 18 2.00201 18Z" fill="#FF1744"/>
            </svg>
            Выйти
          </button>
          <button @click="showAchiveModal = true" class="profile__user__info__buttons__achive">
            Запросить достижение
          </button>
        </div>
      </div>
    </div>
    <div class="profile__info" v-if="user">
      <div class="profile__info__main">
        <div class="profile__info__main__title">Общая информация</div>
        <div class="profile__info__main__block">
          <div class="profile__info__main__block__title">Дата рождения</div>
          <div class="profile__info__main__block__info">{{user.birth_date}}</div>
        </div>
        <div class="profile__info__main__block">
          <div class="profile__info__main__block__title">Факультет</div>
          <div class="profile__info__main__block__info">{{user.faculty}}</div>
        </div>
        <div class="profile__info__main__block">
          <div class="profile__info__main__block__title">Курируемая группа</div>
          <div class="profile__info__main__block__info">{{user.students_group}}</div>
        </div>
        <div class="profile__info__main__block">
          <div class="profile__info__main__block__title">Номер телефона</div>
          <div class="profile__info__main__block__info">{{user.phone}}</div>
        </div>
        <div class="profile__info__main__block">
          <div class="profile__info__main__block__title">Учебная группа</div>
          <div class="profile__info__main__block__info">{{user.group}}</div>
        </div>
        <div class="profile__info__main__block">
          <div class="profile__info__main__block__title">Вконтакте</div>
          <a :href="user.vk" class="profile__info__main__block__info" target="_blank">{{user.vk}}</a>
        </div>
      </div>
      <div class="profile__info__credit">
        <div class="profile__info__credit__title">Начисленные баллы</div>
        <div class="profile__info__credit__history">
          <div class="profile__info__credit__history__item" v-for="(item, index) in rating.points_list" :key="index">
            <div class="profile__info__credit__history__item__points">+{{item.points}}</div>
            <div class="profile__info__credit__history__item__name">{{item.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile__achive">
      <div class="profile__achive__content">
        <div class="profile__achive__content__title">Достижения</div>
        <div class="profile__achive__blocks">
          <achievement-item color="white" :item="item" v-for="item in achievements" :key="item.name" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import AchievementItem from 'components/AchievementItem'

export default {
  name: 'Profile',
  data () {
    return {
      showDes: false,
      showAchiveModal: false,
      select_achive: '',
      text: ''
    }
  },
  methods: {
    ...mapActions({
      loadUser: 'profile/loadUser',
      loadAchieves: 'profile/loadAchieves',
      loadRating: 'profile/loadRating',
      loadAchievesAsks: 'profile/loadAchievesAsks',
      sendAchieveRequest: 'profile/sendAchieveRequest'
    }),
    logout () {
      window.location.href = 'http://curator.sut.ru//api/logout'
    },
    sendRequest () {
      if (this.select_achive && this.text.length > 3) {
        this.sendAchieveRequest({ id: this.select_achive.id, text: this.text })
          .then(() => {
            this.$q.notify({
              message: 'Запрос отправлен!',
              color: 'primary'
            })
            this.select_achive = ''
            this.text = ''
            this.showAchiveModal = false
          })
          .catch(() => {
            this.$q.notify({
              message: 'Произошла ошибка! Попробуйле позже',
              color: 'negative'
            })
          })
      } else {
        this.$q.notify({
          message: 'Заполните все поля!',
          color: 'negative'
        })
      }
    }
  },
  computed: {
    ...mapGetters({
      user: 'profile/user',
      rating: 'profile/rating',
      achievements: 'profile/achievements',
      achievements_asks: 'profile/achievements_asks'
    })
  },
  mounted () {
    this.loadRating()
    this.loadUser()
    this.loadAchieves()
    this.loadAchievesAsks()
  },
  components: {
    AchievementItem
  }
}
</script>

<style scoped lang="scss">
  .achievement__modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.27);
    left: 0;
    top: 0;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container {
      padding: 40px;
      width: 520px;
      height: 400px;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.87);
        margin: 0 0 20px;
      }
      &__subtitle {
        margin: 40px 0 20px;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.87);
      }
      &__text {
        > textarea {
          background: #FFFFFF;
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
          width: 100%;
          height: 86px;
          resize: none;
          border-color: #707375;
          padding: 12px;
          outline: none;
          &:hover {
            border-color: #000000;
          }
          &:focus {
            border-color: #1291B6;
          }
        }
      }
      &__button {
        margin: 20px 0 0;
        > button {
          outline: none;
          border: none;
          background: #1291B6;
          border-radius: 10px;
          cursor: pointer;
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 0.75px;
          color: #FFFFFF;
          padding: 8px 32px;
        }
      }
    }
  }
  .profile {
    &__user {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      &__image {
        width: 208px;
        height: 208px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border-radius: 10px;
        overflow: hidden;
        > img {
          width: 100%;
        }
      }
      &__info {
        margin: 0 0 0 46px;
        &__name {
          font-weight: bold;
          font-size: 24px;
          line-height: 36px;
          color: rgba(0, 0, 0, 0.87);
        }
        &__progress {
          &__info {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin: 0 0 4px;
            &__rank {
              font-size: 17px;
              line-height: 20px;
              color: #000000;
            }
            &__numbers {
              font-size: 14px;
              line-height: 16px;
              color: #4A4B4D;
            }
          }
          &__line {
            height: 10px;
            width: 100%;
            overflow: hidden;
            border-radius: 255px;
            background: #C4C4C4;
            position: relative;
            margin: 0 0 14px;
            &__bar {
              position: absolute;
              left: 0;
              top: 0;
              z-index: 2;
              width: 20px;
              height: 10px;
              background: #1291B6;
              border-radius: 255px;
            }
          }
        }
        &__position {
          font-size: 18px;
          line-height: 21px;
          color: rgba(0, 0, 0, 0.7);
          margin: 0 0 20px;
        }
        &__buttons {
          margin: 16px 0 0;
          display: flex;
          &__exit {
            margin: 0 12px 0 0;
            background: none;
            border: 2px solid #FF1744;
            border-radius: 10px;
            padding: 9px 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: none;
            font-size: 16px;
            line-height: 19px;
            color: #FF1744;
            cursor: pointer;
            > svg {
              margin: 0 7px 0 0;
            }
          }
          &__achive {
            cursor: pointer;
            font-size: 16px;
            line-height: 19px;
            color: #1291B6;
            background: none;
            outline: none;
            border: 2px solid #1291B6;
            border-radius: 10px;
            padding: 9px 14px;
          }
        }
        &__rate {
          font-size: 14px;
          line-height: 16px;
          color: #707375;
          > span {
            font-size: 19px;
            line-height: 26px;
            color: #000000;
          }
        }
      }
    }
    &__info {
      margin: 40px 0 0;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      &__main {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        &__title {
          width: 100%;
          font-weight: 800;
          font-size: 24px;
          line-height: 33px;
          color: rgba(0, 0, 0, 0.87);
        }
        &__block {
          width: 33%;
          margin: 20px 0;
          &__title {
            font-size: 14px;
            line-height: 16px;
            color: rgba(0, 0, 0, 0.54);
          }
          &__info {
            margin: 4px 0 0;
            font-weight: 900;
            font-size: 19px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.87);
          }
        }
      }
      &__credit {
        width: 30%;
        margin: 0 0 0 5%;
        &__title {
          width: 100%;
          font-weight: 800;
          font-size: 24px;
          line-height: 33px;
          color: rgba(0, 0, 0, 0.87);
        }
        &__history {
          max-height: 167px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #1291B6;
            border-radius: 6px;
          }
          &__item {
            margin: 20px 0 0;
            display: flex;
            &:last-child {
              margin: 20px 0 20px;
            }
            &__points {
              width: 60px;
              font-size: 19px;
              line-height: 22px;
              margin: 0 20px 0 0;
              color: rgba(0, 0, 0, 0.54);
            }
            &__name {
              font-size: 19px;
              line-height: 22px;
              color: rgba(0, 0, 0, 0.54);
            }
          }
        }
      }
    }
    &__achive {
      margin: 40px 0 0;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      &__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__title {
          width: 100%;
          font-weight: 800;
          font-size: 24px;
          line-height: 33px;
          color: rgba(0, 0, 0, 0.87);
        }
      }
      &__blocks {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
    .achievement__modal {
      &__container {
        width: 100%;
        height: 460px;
      }
    }
    .profile {
      &__user {
        flex-flow: column;
        align-items: center;
        &__image {
          width: 280px;
          height: 280px;
        }
        &__info {
          margin: 30px 0 0;
          &__name {
            font-size: 18px;
          }
        }
      }
      &__info {
        margin: 40px 0 0;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        flex-wrap: wrap;
        &__credit {
          width: 100%;
          margin: 30px 0 0 0;
          &__history {
            max-height: 167px;
            overflow: auto;
            &::-webkit-scrollbar {
              width: 6px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: #1291B6;
              border-radius: 6px;
            }
            &__item {
              margin: 20px 0 0;
              display: flex;
              &:last-child {
                margin: 20px 0 20px;
              }
              &__points {
                width: 60px;
                font-size: 19px;
                line-height: 22px;
                margin: 0 20px 0 0;
                color: rgba(0, 0, 0, 0.54);
              }
              &__name {
                font-size: 19px;
                line-height: 22px;
                color: rgba(0, 0, 0, 0.54);
              }
            }
          }
        }
        &__main {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          &__title {
            width: 100%;
          }
          &__block {
            width: 100%;
            margin: 20px 0;
          }
        }
      }
    }
  }
</style>
