<template>
  <div class="rating">
    <div class="container">
      <div class="rating__title">
        Ваш рейтинг
      </div>
      <div class="rating__your">
        <div class="rating__block">
          <div class="rating__block__number">{{rating.place}}</div>
          <div class="rating__block__image">
            <img :src="user.photo" alt="">
          </div>
          <div class="rating__block__info">{{user.surname + ' ' + user.first_name + ' ' + user.parent_name}}</div>
          <div class="rating__block__faculty">{{user.faculty}}</div>
          <div class="rating__block__role">{{user.role}}</div>
          <div class="rating__block__score">{{rating.points}}</div>
        </div>
      </div>
      <div class="rating__subtitle">
        Рейтинг кураторов
      </div>
      <div class="rating__header">
        <div class="rating__search__block">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z" fill="black"/>
          </svg>
          <input type="text" v-model="search" @input="searchUser()" placeholder="Поиск">
        </div>
        <div class="rating__header__filter">
          <div class="rating__header__filter__item">
            <div class="rating__header__filter__item__title">Должность</div>
            <div class="rating__header__filter__item__select" @click="show_role = !show_role" v-click-outside="hideRole">
              {{select_role.name}}
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 8.58984L12 13.1698L16.59 8.58984L18 9.99984L12 15.9998L6 9.99984L7.41 8.58984Z" fill="black"/>
              </svg>
              <div class="rating__header__filter__item__select__down" v-if="show_role">
                <div class="rating__header__filter__item__select__down__item" @click="selectRole(role)" v-for="role in roles.filter(item => item.value !== select_role.value)" :key="role.value">
                  {{role.name}}
                </div>
              </div>
            </div>
          </div>
          <div class="rating__header__filter__item">
            <div class="rating__header__filter__item__title">Факультет</div>
            <div class="rating__header__filter__item__select" @click="show_filter = !show_filter" v-click-outside="hideFaculty">
              {{select_faculty.name}}
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.41 8.58984L12 13.1698L16.59 8.58984L18 9.99984L12 15.9998L6 9.99984L7.41 8.58984Z" fill="black"/>
              </svg>
              <div class="rating__header__filter__item__select__down" v-if="show_filter">
                <div class="rating__header__filter__item__select__down__item" @click="selectFilter(filter)" v-for="filter in filters.filter(item => item.value !== select_faculty.value)" :key="filter.value">
                  {{filter.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rating__curators" v-if="curators">
        <a :href="curator.vk" target="_blank" class="rating__block" v-for="(curator, index) in curators" :key="index">
          <div class="rating__block__number">{{curator.place}}</div>
          <div class="rating__block__image">
            <img :src="curator.photo" alt="">
          </div>
          <div class="rating__block__info">{{curator.surname + ' ' + curator.first_name + ' ' + curator.parent_name}}</div>
          <div class="rating__block__faculty">{{curator.faculty}}</div>
          <div class="rating__block__role">{{curator.role}}</div>
          <div class="rating__block__score">{{curator.points}}</div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ClickOutside from 'vue-click-outside'

export default {
  name: 'Rating',
  data () {
    return {
      search: '',
      filters: [
        { name: 'Любой', value: '' },
        { name: 'ИСиТ', value: 'ИСиТ' },
        { name: 'РТС', value: 'РТС' },
        { name: 'ИКСС', value: 'ИКСС' },
        { name: 'ГФ', value: 'ГФ' },
        { name: 'ЦЭУБИ', value: 'ЦЭУБИ' },
        { name: 'ФФП', value: 'ФФП' },
        { name: 'ВУЦ', value: 'ВУЦ' },
        { name: 'КТ', value: 'КТ' }
      ],
      roles: [
        { name: 'Любая', value: '' },
        { name: 'Куратор', value: 'curator' },
        { name: 'Старший куратор', value: 'main_curator' }
      ],
      select_faculty: { name: 'Любой', value: '' },
      select_role: { name: 'Любая', value: '' },
      show_filter: false,
      show_role: false
    }
  },
  methods: {
    ...mapActions({
      loadUser: 'profile/loadUser',
      loadRating: 'profile/loadRating',
      searchRating: 'rating/searchRating',
      loadCuratorsRating: 'rating/loadRating'
    }),
    hideFaculty () {
      this.show_filter = false
    },
    hideRole () {
      this.show_role = false
    },
    searchUser () {
      this.searchRating({ query: this.search })
    },
    selectFilter (filter) {
      this.searchRating({ query: filter.value })
      this.select_faculty = filter
      this.select_role = { name: 'Любая', value: '' }
      this.show_filter = false
      this.show_role = false
    },
    selectRole (role) {
      this.searchRating({ query: role.value })
      this.select_role = role
      this.select_faculty = { name: 'Любой', value: '' }
      this.show_role = false
      this.show_filter = false
    }
  },
  directives: {
    ClickOutside
  },
  computed: {
    ...mapGetters({
      user: 'profile/user',
      rating: 'profile/rating',
      curators: 'rating/curators'
    })
  },
  mounted () {
    this.loadCuratorsRating()
    this.loadRating()
    this.loadUser()
  }
}
</script>

<style scoped lang="scss">
  .rating {
    &__title {
      margin: 0 0 40px;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      display: flex;
      align-items: center;
      color: #000000;
    }
    &__subtitle {
      margin: 40px 0 40px;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      display: flex;
      align-items: center;
      color: #000000;
    }
    &__your {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 0 0 30px;
      width: 1240px;
      &__filter {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &__item {
          margin: 0 0 0 20px;
          &:first-child {
            margin: 0;
          }
          &__title {
            margin: 0 0 10px;
            font-weight: 600;
            font-size: 16px;
          }
          &__select {
            cursor: pointer;
            background: #FFFFFF;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 8px 20px;
            position: relative;
            font-size: 16px;
            &__down {
              width: 100%;
              position: absolute;
              top: 100%;
              left: 0;
              background: #FFFFFF;
              border-radius: 10px;
              &__item {
                width: 100%;
                cursor: pointer;
                text-align: center;
                margin: 10px 0 10px;
              }
            }
          }
        }
      }
    }
    &__search {
      &__block {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
        background: #FFFFFF;
        border-radius: 255px;
        padding: 11px 15px;
        position: relative;
        > input {
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          padding: 0 0 0 15px;
        }
        &__clear {
          position: absolute;
          right: 15px;
          top: 13px;
          display: flex;
          cursor: pointer;
        }
      }
    }
    &__block {
      margin: 0 20px 20px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 20px;
      background: #FFFFFF;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
      border-radius: 10px;
      &__number {
        font-weight: 500;
        font-size: 19px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.7);
        width: 32px;
      }
      &__image {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        border-radius: 50%;
        margin: 0 22px;
        overflow: hidden;
        > img {
          width: 100%;
        }
      }
      &__info {
        width: 170px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
      }
      &__faculty {
        font-size: 14px;
        line-height: 16px;
        color: #999999;
        width: 50px;
        margin: 0 0 0 32px;
      }
      &__role {
        font-size: 14px;
        line-height: 16px;
        color: #999999;
        width: 120px;
        text-align: center;
      }
      &__score {
        width: 50px;
        display: flex;
        font-weight: bold;
        font-size: 19px;
        line-height: 22px;
        color: #000000;
        margin: 0 0 0 32px;
      }
    }
    &__curators {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
  @media (min-width: 320px) and (max-width: 680px) {
    .rating {
      &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        &__filter {
          margin: 0 0 20px;
          &__item {
            &__title {
              margin: 0 0 10px;
              font-weight: 600;
              font-size: 16px;
            }
            &__select {
              cursor: pointer;
              background: #FFFFFF;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 8px 20px;
              position: relative;
              font-size: 16px;
              &__down {
                width: 100%;
                position: absolute;
                top: 100%;
                left: 0;
                background: #FFFFFF;
                border-radius: 10px;
                &__item {
                  width: 100%;
                  cursor: pointer;
                  text-align: center;
                  margin: 10px 0 10px;
                }
              }
            }
          }
        }
      }
      &__search {
        display: flex;
        &__block {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          background: #FFFFFF;
          border-radius: 255px;
          padding: 11px 15px;
          position: relative;
          margin: 0 0 30px;
          > input {
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            padding: 0 0 0 15px;
          }
          &__clear {
            position: absolute;
            right: 15px;
            top: 13px;
            display: flex;
            cursor: pointer;
          }
        }
      }
      &__block {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 20px;
        justify-content: space-between;
        &__number {
          font-size: 16px;
          width: 32px;
        }
        &__image {
          width: 30px;
          height: 30px;
          margin: 0 8px;
        }
        &__info {
          width: 120px;
          font-size: 12px;
        }
        &__faculty {
          display: none;
        }
        &__role {
          display: none;
        }
        &__score {
          width: 30px;
          font-size: 16px;
          margin: 0 0 0 8px;
        }
      }
      &__curators {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 1295px){
    .rating {
      &__header {
        width: 100%;
      }
    }
  }
</style>
