{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
{{ block.super }}
<div class="submit-row">
    <input type="submit" value="Выдать" name="_yes" style="background-color: green; color: white; cursor: pointer">
    <input type="submit" value="Отказать" name="_no" style="background-color: red; color: white; cursor: pointer">
</div>
{% endblock %}