<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seance</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Будущие кураторские часы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ended/">Прошедшие кураторские часы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/info/">Инфо</a>
            </li>
        </ul>
    </div>
</nav>

<!---->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../">Посещения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../reviews/">Отзывы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./">Отчет</a>
                </li>
            </ul>
        </div>
    </nav>
    <p><b>Пришло:</b> {{ review.count }}</p>
    <form method="post">
        <div class="form-group">
            <label for="how"><b>Как прошло:</b></label>
            <textarea class="form-control" id="how" rows="3" name="how">{{ review.how }}</textarea>
        </div>
        <div class="form-group">
            <label for="what"><b>Что нужно поменять:</b></label>
            <textarea class="form-control" id="what" rows="3" name="what">{{ review.what }}</textarea>
        </div>
        <input type="submit" class="btn btn-primary mb-2" value="Сохранить">
    </form>
</div>
<!---->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>