{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Будущие кураторские часы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ended/">Прошедшие кураторские часы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/info/">Инфо</a>
            </li>
        </ul>
    </div>
</nav>

<!---->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../">Памятки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./">Время и место проведения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../attendance/">Участники</a>
                </li>
            </ul>
        </div>
    </nav>
    <form method="post">
        <label for="date">Дата</label>
        <input id="date" name="date" class="col-4" value="{{ seance.time_start|date:'d/m/Y' }}"/>
        <label for="starttime">Время начала</label>
        <input id="starttime" name="start_time" class="col-4" value="{{ seance.time_start|date:'H:i' }}"/>
        <label for="endtime">Время конца</label>
        <input id="endtime" name="end_time" class="col-4" value="{{ seance.time_end|date:'H:i' }}"/>

        <button type="submit" class="btn mt-2">Далее</button>
    </form>
</div>
<!---->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script>
        $('#date').datepicker({
            uiLibrary: 'bootstrap4',
            minDate: new Date('{{ seance.event.date_start|date:'m/d/Y' }}'),
            maxDate: new Date('{{ seance.event.date_end|date:'m/d/Y' }}')
        });

        $('#starttime').timepicker({
            uiLibrary: 'bootstrap4',
        });

        $('#endtime').timepicker({
            uiLibrary: 'bootstrap4',
        });




</script>
</body>
</html>