<template>
  <q-layout view="lHh Lpr lFf">
    <div class="mob__menu" v-if="showMobMenu">
      <div class="mob__menu__close" @click="showMobMenu = false">
        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.868164" y="14.5103" width="20" height="3" rx="1.5" transform="rotate(-45 0.868164 14.5103)" fill="#0585A9"/>
          <rect x="2.9895" y="0.368164" width="20" height="3" rx="1.5" transform="rotate(45 2.9895 0.368164)" fill="#0585A9"/>
        </svg>
      </div>
      <div @click="selectMobileMenu()" class="mob__menu__profile">
        <img :src="user.photo" alt="">
      </div>
      <div class="mob__menu__item" @click="showMobMenu = false" v-for="item in menu" :key="item.value">
        <router-link :to="{ name: item.value }">{{item.name}}</router-link>
      </div>
      <div class="mob__menu__item" @click="showMobMenu = false" v-if="user && user.role === 'Старший куратор'">
        <router-link :to="{ name: 'control' }">Управление</router-link>
      </div>
    </div>
    <header class="header container">
      <div class="header__menu">
        <router-link v-for="item in menu" :key="item.value" :to="{ name: item.value }">{{item.name}}</router-link>
        <router-link :to="{ name: 'control' }" v-if="user && user.role === 'Старший куратор'">Управление</router-link>
      </div>
      <div class="header__profile">
        <div class="header__profile__notifications" v-if="20 > 30">
          <q-btn
            flat
            unelevated
            padding="2px 2px"
            :ripple="false"
            class="notifications__btn"
          >
            <svg width="20" height="25" viewBox="0 0 20 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 25C11.375 25 12.5 23.8462 12.5 22.4359H7.5C7.5 23.8462 8.625 25 10 25ZM17.5 17.3077V10.8974C17.5 6.96154 15.4625 3.66667 11.875 2.79487V1.92308C11.875 0.858974 11.0375 0 10 0C8.9625 0 8.125 0.858974 8.125 1.92308V2.79487C4.55 3.66667 2.5 6.94872 2.5 10.8974V17.3077L0 19.8718V21.1538H20V19.8718L17.5 17.3077ZM15 18.5897H5V10.8974C5 7.71795 6.8875 5.12821 10 5.12821C13.1125 5.12821 15 7.71795 15 10.8974V18.5897Z" fill="black"/>
            </svg>
            <q-menu :offset="[375, 0]">
              <div class="header__profile__notifications__block">
                <div class="header__profile__notifications__block__title">Уведомления</div>
                <div class="header__profile__notifications__block__info">
                  Нет новых уведомлений :)
                </div>
              </div>
            </q-menu>
          </q-btn>
        </div>
        <router-link :to="{ name: 'profile' }" v-if="user" class="header__profile__user" active-class="header__profile__user">
          <div class="header__profile__user__image">
            <img :src="user.photo" alt="">
          </div>
          <div class="header__profile__user__info">
            <div class="header__profile__user__info__name">{{user.surname + ' ' + user.first_name}}</div>
            <div class="header__profile__user__info__position">{{user.role}} факультета {{user.supervised_faculty}}</div>
          </div>
        </router-link>
      </div>
      <div class="header__mobile">
        <div class="header__mobile__item">
          <span v-if="$route.name === 'profile'">Профиль</span>
          <span v-if="$route.name === 'group'">Группа</span>
          <span v-if="$route.name === 'curators'">Кураторы</span>
          <span v-if="$route.name === 'control'">Управление</span>
          <span v-if="$route.name === 'events.future' || $route.name === 'events.past' || $route.name === 'events.future.item' || $route.name === 'events.past.item'">События</span>
        </div>
        <div class="header__mobile__menu" @click="showMobMenu = true">
          <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="12" width="20" height="3" rx="1.5" fill="#0585A9"/>
            <rect width="20" height="3" rx="1.5" fill="#0585A9"/>
            <rect y="6" width="20" height="3" rx="1.5" fill="#0585A9"/>
          </svg>
        </div>
      </div>
    </header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'MainLayout',
  data () {
    return {
      leftDrawerOpen: false,
      showMobMenu: false,
      menu: [
        { name: 'Главная', value: 'main' },
        { name: 'События', value: 'events' },
        { name: 'Группа', value: 'group' },
        { name: 'Кураторы', value: 'curators' }
      ]
    }
  },
  methods: {
    ...mapActions({
      loadUser: 'profile/loadUser'
    }),
    selectMobileMenu () {
      this.showMobMenu = false
      this.$router.push({ name: 'profile' })
    }
  },
  computed: {
    ...mapGetters({
      user: 'profile/user'
    })
  },
  mounted () {
    this.loadUser()
  }
}
</script>

<style lang="scss" scoped>
  .header {
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    &__menu {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      > a {
        margin: 0 18px;
        color: rgba(0, 0, 0, 0.54);
        &:first-child {
          margin: 0 18px 0 0;
        }
        &:last-child {
          margin: 0 0 0 18px;
        }
      }
    }
    &__profile {
      display: flex;
      align-items: center;
      &__user {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 0 20px;
        &__image {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          background-color: #C4C4C4;
          border-radius: 50%;
          overflow: hidden;
          > img {
            width: 100%;
          }
        }
        &__info {
          margin: 0 0 0 10px;
          &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
          }
          &__position {
            font-size: 12px;
            line-height: 14px;
            color: #7E7E7E;
          }
        }
      }
    }
    &__mobile {
      width: 100%;
      align-items: center;
      display: none;
      justify-content: space-between;
      &__item {
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #0585A9;

      }
    }
  }
  .mob__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background-color: #F4F9FF;
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    &__close {
      position: absolute;
      right: 20px;
      top: 35px;
    }
    &__profile {
      width: 120px;
      height: 120px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 0 10px;
      > img {
        width: 100%;
      }
    }
    &__item {
      margin: 10px 0;
      > a {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
      }
    }
  }
  .router-link-active {
    color: #1291B6 !important;
    position: relative;
    &:after {
      content: '';
      width: 90%;
      height: 2px;
      background: #0585A9;
      border-radius: 2px;
      display: block;
      margin: 0 auto;
      position: relative;
    }
  }
  @media (min-width: 320px) and (max-width: 1024px) {
    .header {
      padding: 35px 20px;
      &__menu {
        display: none;
        > a {
          margin: 0 5px;
          color: rgba(0, 0, 0, 0.54);
          &:first-child {
            margin: 0 5px 0 0;
          }
          &:last-child {
            margin: 0 0 0 5px;
          }
        }
      }
      &__profile {
        display: none;
        &__user {
          &__info {
            display: none;
          }
        }
      }
      &__mobile {
        display: flex;
      }
    }
    .mob__menu {
      display: flex;
    }
  }

</style>
